@using System.Dynamic
@model List<System.Collections.IDictionary>
@{
	WebGrid grid = null;
	int rowVal = 1;
	var result = new List<dynamic>();
	if (@ViewBag.TermsAndCondition != null)
	{
		foreach (var emprow in ViewBag.TermsAndCondition)
		{
			var rowResult = (IDictionary<string, object>)new ExpandoObject();
			Dictionary<string, object> eachEmpRow = (Dictionary<string, object>)emprow;

			foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
			{
				rowResult.Add(keyValuePair);
			}
			result.Add(rowResult);
		}
		grid = new WebGrid(result);
	}
}
<div style="font-size:small">
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
		<tr>
            <td width="10%" align="center">
                @if (@ViewBag.LogoPath != "")
                {
                    <center><img src="~/@ViewBag.LogoPath" style="width:60px; height:60px;" /></center>
                }
            </td>
			<td width="80%">
				<table border="0" width="100%" style="border:0px solid;" class="" cellpadding="0" cellspacing="0">
					<tr>
						<td align="center"><h1><b>@ViewBag.cusname</b></h1></td>
					</tr>
					@if (ViewBag.InvFormat == "1")
					{
						<tr>
							<td align="center"><h2><b>CIN No:&nbsp;@ViewBag.cinNo</b></h2></td>
						</tr>
					}
					<tr>
						<td align="center"><h4><b>@ViewBag.cusAddress</b></h4></td>
					</tr>
					<tr>
						<td align="center"><b>GSTIN:&nbsp;@ViewBag.cusgst</b></td>
					</tr>
				</table>
			</td>
			<td width="10%"></td>
		</tr>
	</table>
	

	<div style="border:1px solid; border-color:#52876a" class="">
		<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr style="height:30px;">
				<td width="20%"></td>
				<td width="60%" align="center" valign="middle" style="color:#52876a">
					<h2>
						<b>
							@if (@ViewBag.ntty == "C")
							{
								<label>CREDIT NOTE</label>
							}
							else if (@ViewBag.ntty == "D")
							{
								<label>DEBIT NOTE</label>
							}
							else if (@ViewBag.ntty == "R")
							{
								<label>REFUND VOUNCHER</label>
							}
						</b>
					</h2>
				</td>
				<td width="20%" style="color:red;">
					<input type="checkbox" value="Original for Receipent" />Original for Recipient<br />
					<input type="checkbox" value="Duplicate for Supplier/Transporter" />Duplicate for Supplier/Transporter<br />
					<input type="checkbox" value="Triplicate for Supplier" />Triplicate for Supplier
				</td>
			</tr>
		</table>
		<table border="0" width="100%" style="border:0px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr>
				<td width="55">
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">

						@if (ViewBag.InvFormat == "1")
						{
							<tr>
								<td width="35%">Good Or Service</td>
								<td>:&nbsp;&nbsp;@ViewBag.serviceType</td>
							</tr>
							<tr>
								<td>Document No</td>
								<td>:&nbsp;&nbsp;@ViewBag.Docno</td>
							</tr>

							<tr>
								<td>Date Of Issue</td>
								<td>:&nbsp;&nbsp;@ViewBag.Docdate</td>
							</tr>
							<tr>
								<td>Against Invoice/Bill Of Supply No</td>
								<td>:&nbsp;&nbsp;@ViewBag.InvID</td>
							</tr>
							<tr>
								<td>Place of Supply</td>
								<td>:&nbsp;&nbsp;@ViewBag.state</td>
							</tr>
						}
						else
						{
							<tr>
								<td width="35%">Document No</td>
								<td width="65%">:&nbsp;&nbsp;@ViewBag.Docno</td>
							</tr>
							<tr>
								<td>Date Of Issue</td>
								<td>:&nbsp;&nbsp;@ViewBag.Docdate</td>
							</tr>

							<tr>
								<td>Place of Supply</td>
								<td>:&nbsp;&nbsp;@ViewBag.state</td>
							</tr>
						}
					</table>
				</td>
				<td width="45%">
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">

						@if (ViewBag.InvFormat == "1")
						{
							string TransMode = ViewBag.transMode;
							var Mode = "";
							switch (TransMode)
							{
								case "1":
									Mode = "Road";
									break;
								case "2":
									Mode = "Rail";
									break;
								case "3":
									Mode = "Air";
									break;
								case "4":
									Mode = "Ship";
									break;
							}


							<tr>
								<td width="35%">Transportation Mode</td>
								<td>:&nbsp;&nbsp;@Mode</td>
							</tr>
							<tr>
								<td>Vehicle Number</td>
								<td>:&nbsp;&nbsp;@ViewBag.vehicleNo</td>
							</tr>
							<tr>
								<td>Date Of Supply</td>
								<td>:&nbsp;&nbsp;@ViewBag.dateOfSupply</td>
							</tr>
							<tr>
								<td>Date of Invoice/Bill of Supply</td>
								<td>:&nbsp;&nbsp;@ViewBag.InvDate</td>
							</tr>
							<tr>
								<td>State Code</td>
								<td>:&nbsp;&nbsp;@ViewBag.pos</td>
							</tr>
						}
						else
						{
							<tr>
								<td style="font-weight:bold;" width="40%">State Code</td>
								<td>:&nbsp;&nbsp;@ViewBag.pos</td>
							</tr>
							<tr>
								<td>Against Invoice/Bill Of Supply No</td>
								<td>:&nbsp;&nbsp;@ViewBag.InvID</td>
							</tr>
							<tr>
								<td>Date of Invoice/Bill of Supply</td>
								<td>:&nbsp;&nbsp;@ViewBag.InvDate</td>
							</tr>
						}
					</table>
				</td>
			</tr>
		</table>
		<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
		</table>
		<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<b>Details of Receiver | Billed to:</b>
				</td>
				<td align="center">
					<b>Details of Consignee | Shipped to:</b>
				</td>
			</tr>
			<tr>
				<td width="55">
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr>
							<td width="35%">Name</td>
							<td width="65%">:&nbsp;&nbsp;@ViewBag.supname</td>
						</tr>
						<tr>
							<td valign="top">Address</td>
							<td valign="top">:&nbsp;&nbsp;@ViewBag.supadd</td>
						</tr>
						<tr>
							<td>GSTIN</td>
							<td>:&nbsp;&nbsp;@ViewBag.ctin</td>
						</tr>
						<tr>
							<td>State</td>
							<td>:&nbsp;&nbsp;@ViewBag.state</td>
						</tr>
					</table>
				</td>
				<td width="45%">
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr>
							<td width="40%">Name</td>
							<td width="60%">:&nbsp;&nbsp;@ViewBag.supname</td>
						</tr>
						<tr>
							<td valign="top">Address</td>
							<td valign="top">:&nbsp;&nbsp;@ViewBag.supadd</td>
						</tr>
						<tr>
							<td>GSTIN</td>
							<td>:&nbsp;&nbsp;@ViewBag.ctin</td>
						</tr>
						<tr>
							<td>State</td>
							<td>:&nbsp;&nbsp;@ViewBag.state</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
		</table>
		<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr align="center" style="height:50px; border-bottom:1px solid; border-color:#52876a; background-color:#b9e9d3; font-weight:bold;">
				<td width="2%" align="center" style="border-right:1px solid; border-color:#52876a">Sr. No</td>
				<td width="12%" align="center" style="border-right:1px solid; border-color:#52876a">Name of Product / Service</td>
				<td width="5%" align="center" style="border-right:1px solid; border-color:#52876a">HSN Code</td>
				@*<td width="2%" align="center" style="border-right:1px solid; border-color:#52876a">UOM</td>*@
				<td width="2%" align="center" style="border-right:1px solid; border-color:#52876a">Qty-Uqc</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a">Unit Price</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a">Amount</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a">Discount</td>
				<td width="5%" align="center" style="border-right:1px solid; border-color:#52876a">Taxable Value</td>
				<td width="5%" align="center" style="border-right:1px solid; border-color:#52876a">Rate of Tax</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a">CGST Amount</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a">@ViewBag.typegst Amount</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a">IGST Amount</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a">CESS Amount</td>
				<td width="4%" align="center" style="border-right:1px solid; border-color:#52876a; background-color:#b9e9d3;">Total</td>
			</tr>
			@{
				int i = 1;
				decimal totalvalue = 0, itemtotal = 0, totaltaxval = 0, totaligstval = 0, totalcgstval = 0, totalsgstval = 0, totalcessval = 0;
				decimal totalqty = 0, totalprice = 0, totalgstamount = 0;
			}
			@foreach (var item in @ViewBag.inv)
			{

				<tr align="" style="height:30px;">
					<td valign="middle" style="border-right:1px solid; border-color:#52876a" align="center">@i</td>
					<td valign="middle" style="border-right:1px solid; border-color:#52876a">@item.hsndesc</td>
					<td valign="middle" style="border-right:1px solid; border-color:#52876a">@item.hsncode</td>
					@*<td valign="middle" style="border-right:1px solid; border-color:#52876a"></td>*@
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.qty-@item.uqc &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.unitprice &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@Convert.ToDecimal(item.qty * item.unitprice).ToString("0.00") &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.discount &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a; background-color:#b9e9d3;">@item.txval &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.rt &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.camt &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.samt &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.iamt &nbsp;</td>
					<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a">@item.csamt &nbsp;</td>
					@{
						itemtotal = Convert.ToDecimal(item.txval + item.iamt + item.camt + item.samt + item.csamt);

						<td valign="middle" align="right" style="border-right:1px solid; border-color:#52876a; background-color:#b9e9d3;">@Convert.ToDecimal(itemtotal) &nbsp;</td>
						totalqty += Convert.ToDecimal(item.qty);
						totalprice += Convert.ToDecimal(item.qty * item.unitprice);
						totaltaxval += Convert.ToDecimal(item.txval);
						totaligstval += Convert.ToDecimal(item.iamt);
						totalcgstval += Convert.ToDecimal(item.camt);
						totalsgstval += Convert.ToDecimal(item.samt);
						totalcessval += Convert.ToDecimal(item.csamt);
						totalvalue += itemtotal;
					}
				</tr>
				i++;
			}
			@{
				int j = 11 - i;
				totalgstamount = totaligstval + totalcgstval + totalsgstval;
			}
			@if (j > 0)
			{
				for (int k = i; k <= 10; k++)
				{
					<tr align="" style="height:30px;">
						<td style="border-right:1px solid; border-color:#52876a" align="center">@k</td>
						<td style="border-right:1px solid; border-color:#52876a"></td>
						<td style="border-right:1px solid; border-color:#52876a"></td>
						@*<td style="border-right:1px solid; border-color:#52876a"></td>*@
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a; background-color:#b9e9d3;"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a"></td>
						<td align="right" style="border-right:1px solid; border-color:#52876a; background-color:#b9e9d3;"></td>
					</tr>
				}
			}
			<tr style="height:40px; border:1px solid; border-color:#52876a; background-color:#b9e9d3; font-weight:bold;" cellpadding="0" cellspacing="0">
				<td valign="middle" align="right" colspan="3" style="border-right:1px solid; border-color:#52876a;">
					Total&nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToString(Convert.ToDecimal(totalqty)) &nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					&nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToDecimal(totalprice).ToString("0.00") &nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					&nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToDecimal(totaltaxval) &nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					&nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToDecimal(totalcgstval) &nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToDecimal(totalsgstval) &nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToDecimal(totaligstval) &nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToDecimal(totalcessval) &nbsp;
				</td>
				<td valign="middle" align="right" colspan="1" style="border-right:1px solid; border-color:#52876a;">
					@Convert.ToDecimal(totalvalue) &nbsp;
				</td>
			</tr>
		</table>
		<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
		</table>
		<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
			<tr>
				<td width="62%">
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" valign="top"><b>Total Invoice Amount in Words:</b></td>
						</tr>
						<tr>
							<td align="center">&nbsp;</td>
						</tr>
						<tr>
							<td align="center"><b>@SmartAdminMvc.Models.Common.Functions.NumberToText(Convert.ToString(totalvalue))</b></td>
						</tr>
						<tr>
							<td align="center">&nbsp;</td>
						</tr>
						<tr>
							<td align="center">&nbsp;</td>
						</tr>
					</table>
					<table border="0" width="100%" style="border:1px solid; border-bottom:none; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr style="border-top:1px solid; border-color:#52876a;">
							<td align="left">
								<b>
									@if (ViewBag.MakerCheckerApproverSetting == "True")
									{
										<label>Office Address</label>
									}
									else
									{
										<label>Additional Information</label>
									}
								</b>
							</td>
						</tr>
						<tr>
							<td align="left" style="white-space:pre-wrap;">&nbsp;@ViewBag.addinfo </td>
						</tr>
						<tr>
							<td align="center">&nbsp;</td>
						</tr>
						<tr>
							<td align="center">&nbsp;</td>
						</tr>
						<tr>
							<td align="center">&nbsp;</td>
						</tr>

						<tr>
							<td align="left"><b>Terms And Conditions</b></td>
						</tr>
						<tr>
							<td align="left">
								@foreach (var item in result)
								{
							<tr>
								<td>@rowVal&nbsp;.&nbsp; @item.TermsandCondition</td>
							</tr>
							rowVal++;


						}

						</td>
					<tr>
				</table>
				<td width="38%">
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr style="border-bottom:2px solid; border-left:1px solid; border-color:#52876a; background-color:#b9e9d3;">
							<td width="60%"><b>Total Amount Before Tax</b></td>
							<td align="center" width="5%"><b> : </b></td>
							<td align="right" width="35%" style="border-left:1px solid; border-color:#52876a">@Convert.ToDecimal(totaltaxval)&nbsp;&nbsp;</td>
						</tr>
						<tr style="border-bottom:2px solid; border-color:#52876a">
							<td>Add : CGST</td>
							<td align="center"><b> : </b></td>
							<td align="right" style="border-left:1px solid; border-color:#52876a">@Convert.ToDecimal(totalcgstval)&nbsp;&nbsp;</td>
						</tr>
						<tr style="border-bottom:2px solid; border-color:#52876a">
							<td>Add : @ViewBag.typegst</td>
							<td align="center"><b> : </b></td>
							<td align="right" style="border-left:1px solid; border-color:#52876a">@Convert.ToDecimal(totalsgstval)&nbsp;&nbsp;</td>
						</tr>
						<tr style="border-bottom:2px solid; border-color:#52876a">
							<td>Add : IGST</td>
							<td align="center"><b> : </b></td>
							<td align="right" style="border-left:1px solid; border-color:#52876a">@Convert.ToDecimal(totaligstval)&nbsp;&nbsp;</td>
						</tr>
						<tr style="border-bottom:2px solid; border-color:#52876a; background-color:#b9e9d3;">
							<td><b>Tax Amount : GST</b></td>
							<td align="center"><b> : </b></td>
							<td align="right" style="border-left:1px solid; border-color:#52876a">@Convert.ToDecimal(totalgstamount)&nbsp;&nbsp;</td>
						</tr>
						<tr style="border-bottom:2px solid; border-color:#52876a; background-color:#b9e9d3;">
							<td><b>Total Amount After Tax</b></td>
							<td align="center"><b> : </b></td>
							<td align="right" style="border-left:1px solid; border-color:#52876a">@Convert.ToDecimal(totalvalue)&nbsp;&nbsp;</td>
						</tr>
					</table>
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr>
							<td colspan="3"><b>&nbsp;</b></td>
						</tr>
					</table>
					<table border="0" width="100%" style="border:1px solid; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr style="border:1px solid; border-bottom:1px solid; border-color:#52876a">
							@*<td width="60%"><b>GST Payable on Reverse Charge</b></td>
								<td align="center" width="5%"><b> : </b></td>
								<td align="center" width="35%" style="border-left:1px solid; border-color:#52876a">@ViewBag.rchrg</td>*@
						</tr>
					</table>
					<table border="0" width="100%" style="border:1px solid;border-bottom:none; border-color:#52876a" class="" cellpadding="0" cellspacing="0">
						<tr>
							<td colspan="3" align="center" style="font-size:smaller;">Certified that the particulars given above are true and correct.</td>
						</tr>
						<tr>
							<td align="center" colspan="3"><b>For, @ViewBag.cusname</b></td>
						</tr>
						<tr>
							<td colspan="3"><b>&nbsp;</b></td>
						</tr>
						<tr>
							<td colspan="3"><b>&nbsp;</b></td>
						</tr>
						<tr>
							<td colspan="3"><b>&nbsp;</b></td>
						</tr>
						<tr>
							<td colspan="3"><b>&nbsp;</b></td>
						</tr>
						<tr>
							<td align="center" colspan="3"><b>Authorised Signatory</b></td>
						</tr>
					</table>
				</td>
				</tr>
				</table>
			</div>
		</div>
		<br />


