<!-- MAIN CONTENT -->

<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                Home
                <span>
                    >&nbsp;
                    Dashboard
                </span>
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <!-- end col -->

    </div>
    <div class="alert alert-block alert-success">
        <form action="@Url.Action("Index", "Dashboard")" method="POST" id="SummaryForm" class="smart-form" autocomplete="off">
            <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Dashboard Summary</h4>
            <br />
            <p>
                <div class="widget-body">

                    <div id="checkout-form" class="smart-form" novalidate="novalidate">

                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="input">GSTIN</label>
                                    <div class="col-xs-12 col-md-12 selectContainer">
                                        @Html.DropDownList("ddlGSTINNo", ViewBag.GSTINNoList as SelectList, new { @class = "form-control", onchange = "submit();" })
                                    </div>
                                </section>
                                <section class="col col-3">
                                    <label class="input">Period</label>
                                    <label class="input">
                                        <input type="text" name="period" value="@ViewBag.Period" placeholder="From Period" class="datepicker" data-dateformat='mmyy' onchange="submit();">
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </p>
        </form>
    </div>
    <!-- end row -->
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-4">


                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>GSTR-1 UPLOAD STATUS</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form1" class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-md-12">
                                            <label class="label">@ViewBag.GSTR1_U</label>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer></footer>

                                <div class="message">
                                    <i class="fa fa-check fa-lg"></i>
                                    <p>
                                        Your comment was successfully added!
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>GSTR-1 FILE STATUS</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form" class="smart-form">

                                <fieldset>
                                    
                                        <div class="row">
                                            <section class="col col-md-12">
                                                <label class="label">@ViewBag.GSTR1_F</label>
                                            </section>
                                        </div>
                                    
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>

            <article class="col-sm-12 col-md-12 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-green" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>GSTR-2 UPLOAD STATUS</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form1" class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-md-12">
                                            <label class="label">@ViewBag.GSTR2_U</label>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-green" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>GSTR-2 FILE STATUS</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form" class="smart-form">

                                <fieldset>
                                        <div class="row">
                                            <section class="col col-md-12">
                                                <label class="label">@ViewBag.GSTR2_F</label>
                                            </section>
                                        </div>
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>

            <article class="col-sm-12 col-md-12 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-orange" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>GSTR-3 UPLOAD STATUS</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form1" class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-md-12">
                                            <label class="label">@ViewBag.GSTR3_U</label>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-orange" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>GSTR-3 FILE STATUS</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="comment-form" class="smart-form">

                                <fieldset>
                                        <div class="row">
                                            <section class="col col-md-12">
                                                <label class="label">@ViewBag.GSTR3_F</label>
                                            </section>
                                        </div>
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>

            <article class="col-sm-12 col-md-12 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>OUTPUT TAX LIABILITY </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                IGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.OIGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                CGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.OCGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                SGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.OSGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                CESS
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.OCESS
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>

            <article class="col-sm-12 col-md-12 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-green" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>INPUT TAX CREDIT </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                IGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.IIGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                CGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.ICGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                SGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.ISGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                CESS
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.ICESS
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>

            <article class="col-sm-12 col-md-12 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-orange" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>LEDGER CASH </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                IGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.LIGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                CGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.LCGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                SGST
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.LSGST
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                CESS
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                @ViewBag.LCESS
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer></footer>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>


        </div>

        <!-- end row -->
        <!-- row -->

        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
