@{
    int rowVal = 0;


}


<style>
    .ui-autocomplete {
        max-height: 200px;
        width: 800px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: auto;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
        background-color: palegoldenrod;
    }
</style>

<div id="content">
    <section id="widget-grid" class="">


        <div class="row">
            <form action="@Url.Action("B2CSEdit","OutwardB2CSEdit")" method="post" id="OutwardB2BEdit" novalidate="novalidate" autocomplete="off">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2 style="font-weight:bold;">Update Outward B2CS Details</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form" class="smart-form">
                                    <fieldset class="smart-form">
                                        <div class="row">
                                            <section class="col col-4">
                                                <div class="form-group">
                                                    <input type="hidden" name="id" value="@ViewBag.master.invid" />
                                                    <label>Name of Recipient</label>
                                                    <div>
                                                        <label class="input">
                                                            <input type="text" name="buyername" id="buyername" value="@ViewBag.Name" placeholder="Name of Recipient" style="background-color:#d9d9d9;" readonly />
                                                        </label>
                                                    </div>
                                                </div>
                                            </section>

                                            <section class="col col-4">
                                                <label>Address</label>
                                                <label class="input">

                                                    <input type="text" name="address" id="address" value="@ViewBag.Address" placeholder="Address" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label>Ecommerce Operator</label>
                                                <label class="input">
                                                    <input type="text" name="etin" value="@ViewBag.master.etin" placeholder="etin" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>


                                            <section class="col col-4">
                                                <label> Invoice Number</label>@*<span style="color:red">*</span>*@
                                                <label class="input">

                                                    <input type="text" name="invoice" id="invoice" value="@ViewBag.master.inum" placeholder="Invoice No." style="background-color:#d9d9d9;" readonly>

                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>Invoice Date</label>@*<span style="color:red">*</span>*@
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" name="invoicedate" value="@ViewBag.master.idt" placeholder="Invoice Date" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>Invoice Value</label>
                                                <label class="input">
                                                    <input type="text" name="invalue" value="@ViewBag.master.val" placeholder="Invoice Value" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>


                                            <section class="col col-4">
                                                <label>Place of Supply</label>
                                                <label class="input">
                                                    <input type="text" name="pos" id="pos" placeholder="State Code" value="@ViewBag.master.pos" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>


                                            <section class="col col-4">
                                                <div class="form-group">
                                                    <label>Taxpayer GSTIN</label>
                                                    <label class="input">

                                                        <input type="text" name="cgstin" id="cgstin" value="@ViewBag.master.gstin" placeholder="Invoice No." style="background-color:#d9d9d9;" readonly onchange="taxableCalculation()">
                                                    </label>
                                                </div>
                                            </section>

                                            @if (Session["InvFormat"].ToString() == "1")
                                            {
                                                <section section class="col col-4">
                                                    <div class="form-group">
                                                        <label>Service Type</label>
                                                        <div>
                                                            @Html.DropDownList("ddlServiceType", ViewBag.ServiceTypeList as SelectList, "Select", new { @Class = "form-control input-sm", @id = "ddlServiceType" })
                                                        </div>
                                                    </div>
                                                </section>
                                                <section section class="col col-4">
                                                    <div class="form-group">
                                                        <label>Transport Mode</label>
                                                        <div>
                                                            @Html.DropDownList("transMode", ViewBag.TransportMode as SelectList, "Select", new { @Class = "form-control input-sm", @id = "transMode" })
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="col col-4">
                                                    <label>
                                                        Vechicle No
                                                        <span style="color:red">
                                                            <a href="#" id="VechDiv" style="padding:10px; font-weight:bold">?</a>
                                                        </span>
                                                    </label>
                                                    <label class="input">
                                                        <input type="text" name="vehicleNo" id="vehicleNo" onchange="VehicleNoValidate()" value="@ViewBag.master.vehicleNo" maxlength="15" placeholder="Vechicle No" style="text-transform:uppercase">
                                                    </label>
                                                    <div id="vechDiv_info" style="background-color: #F7E7D3; width: 250px; height: 200px; right: 250px; position: absolute; z-index: 9999">
                                                        <table class="">
                                                            <tr>
                                                                <th>Format of Vehicle No.</th>
                                                            </tr>
                                                            <tr>
                                                                <td>AB121234</td>
                                                                <td>(or)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>AB12A1234</td>
                                                                <td>(or)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>AB12AB1234</td>
                                                                <td>(or)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ABC1234</td>
                                                                <td>(or)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>AB123A1234</td>
                                                                <td>(or) </td>
                                                            </tr>
                                                            <tr>
                                                                <td>AB12ABC1234</td>
                                                                <td>(or) </td>
                                                            </tr>
                                                            <tr>
                                                                <td>DFXXXXXX&nbsp; (for Defence Vehicle)&nbsp; </td>
                                                                <td>&nbsp;&nbsp;(or) </td>
                                                            </tr>
                                                            <tr>
                                                                <td>TRXXXXXX&nbsp; (for Temporary RC)&nbsp;</td>
                                                                <td>&nbsp;&nbsp;(or)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>BPXXXXXX&nbsp; (for Bhutan)&nbsp;</td>
                                                                <td>&nbsp;&nbsp;(or)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>NPXXXXXX&nbsp; (for Nepal)&nbsp;</td>
                                                                <td></td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </section>

                                                <section class="col col-4">
                                                    <label id="datelabel">Date Of Supply</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input type="text" name="dateOfSupply" autocomplete="off" id="dateOfSupply" value="@ViewBag.master.DateOfSupply" placeholder="Date" class="datepicker" data-dateformat='dd/mm/yy' readonly>
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label>CIN No</label>
                                                    <label class="input">
                                                        <input type="text" name="cinNo" id="cinNo" value="@ViewBag.master.CINno" placeholder="CIN Number" maxlength="50">
                                                    </label>
                                                </section>

                                            }

                                            <section class="col col-4">
                                                <label>Additional Information</label>
                                                <label class="input">
                                                    <textarea name="comment1" cols="44" rows="5" value="@ViewBag.master.Addinfo">@ViewBag.master.Addinfo</textarea>
                                                </label>
                                            </section>

                                        </div>


                                    </fieldset>
                                    <footer>
                                        <div class="row">
                                            <div class="col-md-6 text-center">
                                                <button type="submit" name="command" id="btnsubmit" value="save" class="btn btn-primary" style="background-color:#508180!important;border-radius:5px;border:2px solid #508180;font-weight:bold">Update</button>
                                            </div>
                                        </div>
                                    </footer>
                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>


                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2 style="font-weight:bold;">Add invoice item</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form1" class="smart-form">

                                    <div class="smart-form">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>

                                                        <th>HSN</th>
                                                        @*<th>HSN Description</th>*@
                                                        <th>Item Description</th>
                                                        <th>Qty</th>
                                                        <th>UQC</th>
                                                        <th>Unit Price</th>
                                                        <th>Disc(%)</th>
                                                        <th>Taxable Value</th>
                                                        <th>Rate(%)</th>
                                                        <th>IGST Amount</th>
                                                        <th>CGST Amount</th>
                                                        <th>SGST/UTGST Amount</th>
                                                        <th>CESS Amount</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td>
                                                            <label class="input" style="width:60px">
                                                                <input type="text" name="HSN" id="hsn">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="itemdesc" id="itemdesc">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="qty" id="qty" onblur="taxableCalculation();" class="floatinput">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input" style="width:60px">
                                                                @Html.DropDownList("uqc", new SelectList(ViewBag.UQCList, "uqc", "uqcdesc"), "Select", new { @Class = "form-control input-sm", @id = "uqc" })
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="unitprice" id="unitprice" onblur="taxableCalculation();" class="floatinput">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="discount" id="discount" onblur="taxableCalculation();" value="0" class="floatinput">
                                                            </label>

                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="taxablevalue" id="taxablevalue" style="background-color:#d9d9d9;" readonly class="floatinput">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="rate" id="rate" style="background-color:#d9d9d9;" value="0" readonly class="floatinput">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="iamount" value="0" id="iamount" style="background-color:#d9d9d9;" readonly class="floatinput">
                                                            </label>
                                                        </td>

                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="camount" value="0" id="camount" style="background-color:#d9d9d9;" readonly class="floatinput">
                                                            </label>
                                                        </td>

                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="samount" value="0" id="samount" style="background-color:#d9d9d9;" readonly class="floatinput">
                                                            </label>
                                                        </td>

                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="csamount" value="0" id="csamount" class="floatinput">
                                                            </label>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td colspan="13" align="center">
                                                            <button type="Submit" id="btnAdd" name="command" class="btn btn-sm btn-success" style="font-weight:bold;Border-radius:5px;width:60px;margin-bottom:3px;padding:3px;background-color:#404040!important;border:2px solid #404040" value="add">Add</button>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>


                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2 style="font-weight:bold;">Update Outward B2CS Item Details</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form1" class="smart-form">


                                    <div class="smart-form">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="row">

                                                        @*<th>HSNCode</th>*@
                                                        <th>HSNCode</th>
                                                        <th>ItemDescription</th>
                                                        <th>Qty</th>
                                                        <th>UQC</th>
                                                        <th>UnitPrice</th>
                                                        <th>Disc</th>
                                                        <th>Tax</th>
                                                        <th>Rate</th>
                                                        <th>IGST Amount</th>
                                                        <th>CGST Amount</th>
                                                        <th>SGST Amount</th>
                                                        <th>CESS Amount</th>
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var items in ViewBag.lineitms)
                                                    {


                                                        <tr class="row">

                                                            @*<td>
                                                                    <label class="input">
                                                                        @Html.DropDownList("HSN1", new SelectList(ViewBag.HSNDetail, "hsnid", "hsncode", items.hsncode), "select", new { @Class = "form-control input-sm", @id = "hsncode_" + @rowVal, @onchange = "updateRate(" + @rowVal + ");", @onblur = "updatedetails(" + @rowVal + ")" })

                                                                    </label>
                                                                </td>*@

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="HSN1" id="hsncode_@rowVal" value="@items.hsncode" onchange="updateRate(@rowVal)" onblur="updatedetails(@rowVal)" readonly style="background-color:#d9d9d9;">
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="itemdesc_@rowVal" value="@items.hsndesc" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="qty_@rowVal" value="@items.qty" onblur="updatedetails(@rowVal)" class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    @Html.DropDownList("uqc1", new SelectList(ViewBag.UQCList, "uqc", "uqcdesc", items.uqc), "Select", new { @Class = "form-control input-sm", @id = "uqc_" + @rowVal })
                                                                    @*<input type="text" id="uqc" value="@items.uqc" />*@
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="unitprice_@rowVal" value="@items.unitprice" onblur="updatedetails(@rowVal)" class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="discount_@rowVal" value="@items.discount" onblur="updatedetails(@rowVal)" class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="txval_@rowVal" value="@items.txval" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="rate_@rowVal" value="@items.rt" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="iamt_@rowVal" value="@items.iamt" style="background-color:#d9d9d9; " readonly class="floatinput" />
                                                                </label>

                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="camt_@rowVal" value="@items.camt" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="samt_@rowVal" value="@items.samt" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                </label>

                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="csamt_@rowVal" value="@items.csamt" class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <input type="button" id="editBtn_@rowVal" onclick="Edit(@items.invid,@rowVal)" value="Update" style="border:2px solid #a0aeb3;background-color:#a0aeb3;border-radius:5px;font-weight:bold;padding:5px;color:white" />
                                                            </td>
                                                            <td>
                                                                <input type="button" id="delBtn_@rowVal" onclick="Delete(@items.invid,@rowVal)" value="Delete" style="border:2px solid #a0aeb3;background-color:#a0aeb3;border-radius:5px;font-weight:bold;padding:5px;color:white" />
                                                            </td>
                                                        </tr>
                                                        rowVal = rowVal + 1;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <footer></footer>


                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>

                <br />

                <div class="row text-center">
                    <div class="col-md-12 text-center">
                        <button type="submit" name="command" value="generate" class="btn btn-primary" style="background-color:#508180;border:2px solid #508180;border-radius:5px;">Generate Invoice</button>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(TempData["Message"])));
    </script>
    TempData["Message"] = null;
}

<script type="text/javascript">
	$(document).ready(function () {
		var invType = @Session["InvFormat"].ToString();

			if (invType == 1) {
				$('#vechDiv_info').hide();

				//Diplay div on mouseover
				$('#VechDiv').mouseover(function () {
					$('#vechDiv_info').show("slow");
				});

				//Hide div on mouseover
				$('#VechDiv').mouseout(function () {
					//Check if mouse is over second div
					if ($('#vechDiv_info').is(':hover')) {
						//If so then show the second div
						$('#vechDiv_info').show("slow");
					} else {
						$('#vechDiv_info').hide("slow");
					}
				});

				//Hide div on mouseover from second div
				$('#vechDiv_info').mouseout(function () {
					$('#vechDiv_info').hide("slow");
				});


				if (document.getElementById('transMode').value == "1") {
					$('#vehicleNo').removeAttr("readonly").css("background-color", "white");
				}
				else if (document.getElementById('transMode').value == "2") {
					$('#vehicleNo').val("").attr("readonly", "true").css("background-color", "#d9d9d9");
				}
				else if (document.getElementById('transMode').value == "3") {
					$('#vehicleNo').val("").attr("readonly", "true").css("background-color", "#d9d9d9");
				}
				else if (document.getElementById('transMode').value == "4") {
					$('#vehicleNo').val("").attr("readonly", "true").css("background-color", "#d9d9d9");
				}


				$('#transMode').on('change', function () {
					debugger;
					if (document.getElementById('transMode').value == "1") {
						$('#vehicleNo').removeAttr("readonly").css("background-color", "white");
					}
					else if (document.getElementById('transMode').value == "2") {
						$('#vehicleNo').val("").attr("readonly", "true").css("background-color", "#d9d9d9");
					}
					else if (document.getElementById('transMode').value == "3") {
						$('#vehicleNo').val("").attr("readonly", "true").css("background-color", "#d9d9d9");
					}
					else if (document.getElementById('transMode').value == "4") {
						$('#vehicleNo').val("").attr("readonly", "true").css("background-color", "#d9d9d9");
					}
				})


			}
        $('.invoice').on("keyup", function (e) {

            return validateFloatKeyPress(this, e);
        });
    });

    function validateFloatKeyPress(el, evt) {

            var regex = /^[0-9A-Z/-]*$/i;
            // var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if ($('#invoice').val() != "") {
                if (!$('#invoice').val().match(regex)) {
                    alert("No special characters allowed except '-' and '/'.");
                    $('#invoice').val('');
                    //  return false;
                }
            }
    }

</script>

@if (Session["MakerCheckerApproverSetting"].ToString() == "True")
{
    <script type="text/javascript">
        $("#hsn").on('blur', function () {
            var txt = $('#hsn').val().split("|");
            $('#hsn').val(txt[0]);
            $("#rate").val(txt[1]);
            var result = txt[2];
            $("#itemdesc").val(result.slice(0, 30));
        });

        $(document).ready(function () {
            $("#hsn").autocomplete({
                minlength: 3,
                scroll: true,
                source: function (request, response) {
                    $.ajax({
                        url: "/OutwardB2B/AutoPopulate",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.hsncode + "-" + item.rate,
                                    value: item.hsncode + "|" + item.rate + "|" + item.hsndesc
                                };
                            }));
                        },
                        messages: {
                            noResults: "", results: "",
                        }
                    });
                }
            });
        })
    </script>
}
else
{
    <script type="text/javascript">
        $("#hsn").on('blur', function () {
            var txt = $('#hsn').val().split("|");
            $('#hsn').val(txt[0]);
            $("#rate").val(txt[1]);
        });

        $(document).ready(function () {
            $("#hsn").autocomplete({
                minlength: 3,
                scroll: true,
                source: function (request, response) {
                    $.ajax({
                        url: "/OutwardB2B/AutoPopulate",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.hsncode + "-" + item.hsndesc,
                                    value: item.hsncode + "|" + item.rate
                                };
                            }));
                        },
                        messages: {
                            noResults: "", results: "",
                        }
                    });
                }
            });
        })
    </script>
}

<script type="text/javascript">
    $('.floatinput').on('keypress', function (e) {
        return validateFloatKeyPress(this, e);

    });
    function VehicleNoValidate() {
        Number = document.getElementById("vehicleNo").value;
        Number = Number.toUpperCase();
        if (Number != "") {
            var pattern1 = /^[A-Z|a-z]{2}[0-9]{2}[A-Z|a-z]{2}[0-9]{4}$/;
            var pattern2 = /^[A-Z|a-z]{2}[0-9]{2}[A-Z|a-z]{1}[0-9]{4}$/;
            var pattern3 = /^[A-Z|a-z]{2}[0-9]{6}$/;
            var pattern4 = /^[A-Z a-z]{2}[0-9]{2}[A-Z a-z]{0,2}[0-9]{4}$/;
            var pattern5 = /^[A-Z a-z]{3}[0-9]{4}$/;
            var pattern6 = /^[A-Z a-z]{2}[0-9]{3}[A-Z a-z]{1}[0-9]{4}$/;
            var pattern7 = /^[A-Z a-z]{2}[0-9]{2}[A-Z a-z]{3}[0-9]{4}$/;

            if (Number.length >= 5) {
                var res1 = pattern1.test(Number);
                var res2 = pattern2.test(Number);
                var res3 = pattern3.test(Number);
                var res4 = pattern4.test(Number);
                var res5 = pattern5.test(Number);
                var res6 = pattern6.test(Number);
                var res7 = pattern7.test(Number);
                if (Number.substring(0, 2).toUpperCase() != "DF" && Number.substring(0, 2).toUpperCase() != "TR" && Number.substring(0, 2).toUpperCase() != "BP" && Number.substring(0, 2).toUpperCase() != "NP") {
                    if (res1 || res2 || res3 || res4 || res5 || res6 || res7) {

                    }
                    else {
                        $("#vehicleNo").val('');
                        alert("Please enter a valid Vehicle No.");
                        document.getElementById("vehicleNo").focus();
                    }
                }
                else {
                    if (Number.length > 8) {
                        $("#vehicleNo").val('');
                        alert("Please enter a valid Vehicle No.");
                        document.getElementById("vehicleNo").focus();
                    }
                }
            }
            else {
                $("#vehicleNo").val('');
                alert("Please enter a valid Vehicle No.");
                document.getElementById("vehicleNo").focus();
            }
        }
    }

    function taxableCalculation() {
        var qty = document.getElementById("qty").value;
        var unitprice = document.getElementById("unitprice").value;
        var discount = document.getElementById("discount").value;
        var rate = document.getElementById("rate").value;


        var igsta = document.getElementById("iamount");
        var cgsta = document.getElementById("camount");
        var sgsta = document.getElementById("samount");

        if ((qty != "") && (unitprice != "") && (discount != "")) {

            var discountValue;
            discountValue = (((qty * unitprice) / 100) * discount);
            document.getElementById("taxablevalue").value = ((unitprice * qty) - discountValue).toFixed(2);
        }
        var taxablevalue = document.getElementById("taxablevalue").value;

        if ((taxablevalue != "") && (rate != "")) {
            var cgstin = document.getElementById("cgstin").value;
            var gstin = document.getElementById("pos").value;
            var cgstin_state = cgstin.substring(0, 2);
            var gstin_state = gstin.substring(0, 2);
            if ((gstin_state != "") && (cgstin_state != "")) {
                if (gstin_state != cgstin_state) {
                    igsta.value = (taxablevalue * rate) / 100;
                    cgsta.value = "0";
                    sgsta.value = "0";
                }
                else if (gstin_state == cgstin_state) {
                    igsta.value = "0";
                    cgsta.value = (taxablevalue * (rate / 2)) / 100;
                    sgsta.value = (taxablevalue * (rate / 2)) / 100;
                }
            }
        }
    }

    function Edit(id, index) {

        var row = $("#editBtn_" + index).parent().parent();
        // var index = $(this).closest("tr").index();
        var hsncode = row.find("#hsncode_" + index).val();
        var itemdesc = row.find("#itemdesc_" + index).val();
        var unitprice = row.find("#unitprice_" + index).val();
        var rate = row.find("#rate_" + index).val();
        var igsta = row.find("#iamt_" + index).val();
        var cgsta = row.find("#camt_" + index).val();
        var sgsta = row.find("#samt_" + index).val();
        var cessa = row.find("#csamt_" + index).val();
        var uqc = row.find("#uqc_" + index).val();
        var discount = row.find("#discount_" + index).val();
        var qty = row.find("#qty_" + index).val();
        var txval = row.find("#txval_" + index).val();

        if (hsncode == '') {
            alert("Select HSN Code");
            return false;
        }
        else if (itemdesc == '') {
            alert("Enter item description");
            return false;
        }
        else if (qty == '') {
            alert('Enter Qty');
            return false;
        }
        else if (isNaN(qty)) {
            alert('Characters are not allowed inside QTY');
            return false;
        }
        else if (uqc == '') {
            alert('Select UQC');
            return false;
        }
        else if (unitprice == '') {
            alert('Enter Unitprice');
            return false;
        }
        else if (isNaN(unitprice)) {
            alert('Characters are not allowed inside Unitprice');
            return false;
        }


        var obj = {
            id: id,
            hsncode: hsncode,
            itemdesc: itemdesc,
            qty: qty,
            uqc: uqc,
            unitprice: unitprice,
            discount: discount,
            txval: txval,
            rate: rate,
            igsta: igsta,
            cgsta: cgsta,
            sgsta: sgsta,
            cessa: cessa
        }


        $.ajax({
            type: "POST",
            url: '/OutwardB2CSEdit/B2CSUpdate',
            data: JSON.stringify(obj),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                location.reload();

            }

        });
    }

    function Delete(id, index) {

        $.ajax({
            type: "GET",
            url: '/OutwardB2CSEdit/B2CSDelete',
            data: { Id: id },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                location.reload();

            }

        });

    }

    function updatedetails(index) {
        var row = $(this).parent().parent();
        var qty = document.getElementById("qty_" + index).value;
        var unitprice = document.getElementById("unitprice_" + index).value;
        var discount = document.getElementById("discount_" + index).value;
        var rate = document.getElementById("rate_" + index).value;

        var igsta = document.getElementById("iamt_" + index);
        var cgsta = document.getElementById("camt_" + index);
        var sgsta = document.getElementById("samt_" + index);
        var cessa = document.getElementById("csamt_" + index);

        if ((qty != "") && (unitprice != "") && (discount != "")) {

            var discountValue;
            discountValue = (((qty * unitprice) / 100) * discount);
            document.getElementById("txval_" + index).value = ((unitprice * qty) - discountValue).toFixed(2);
        }
        var taxablevalue = document.getElementById("txval_" + index).value;

        if ((taxablevalue != "") && (rate != "")) {
            var cgstin = document.getElementById("cgstin").value;
            var gstin = document.getElementById("pos").value;
            var cgstin_state = cgstin.substring(0, 2);
            var gstin_state = gstin.substring(0, 2);
            if ((gstin_state != "") && (cgstin_state != "")) {
                if (gstin_state != cgstin_state) {
                    igsta.value = (taxablevalue * rate) / 100;
                    cgsta.value = "0";
                    sgsta.value = "0";
                }
                else if (gstin_state == cgstin_state) {
                    igsta.value = "0";
                    cgsta.value = (taxablevalue * (rate / 2)) / 100;
                    sgsta.value = (taxablevalue * (rate / 2)) / 100;
                }
            }
        }



    }

    function updateRate(index) {

        var row = $("#hsncode_" + index).parent().parent();

        var hsnid = $("#hsncode_" + index).val();
        $.ajax({
            type: "GET",
            url: '/OutwardB2B/AutoPopulate1',
            data: { id: hsnid },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                document.getElementById("rate_" + index).value = data.rate;


            }

        });

    }

    

        $("#name").on('change', function () {
            var name = $(this).val();
            $.ajax({
                type: "GET",
                url: '/OutwardB2B/load',
                data: { name: name },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#pos").val(data.StateCode);
                    //$("#address").val(data.Address);
                    $("#gstin").val(data.GSTINno);
                }

            });
        });

        $("#btnsubmit").on('click', function () {
            var $checkoutForm = $('#OutwardB2BEdit').validate({
                // Rules for form validation
                rules: {

                    cgstin: {
                        required: true
                    },
                    name: {
                        required: true
                    },

                    invtype: {
                        required: true
                    },

                    reversecharge: {
                        required: true
                    },



                },

                // Messages for form validation
                messages: {

                    cgstin: {
                        required: 'Please select Taxpayer GSTIN'
                    },
                    name: {
                        required: 'Please select Customer Name'
                    },

                    reversecharge: {
                        required: 'Please select Reverse Charge'

                    },

                    invtype: {
                        required: 'Please select Invoice Type'

                    }


                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            })
        });

        $("#btnAdd").on('click', function () {
            var $checkoutForm = $('#OutwardB2BEdit').validate({
                // Rules for form validation
                rules: {
                    uqc: {
                        required: true
                    },
                    cgstin: {
                        required: true
                    },
                    name: {
                        required: true
                    },

                    invtype: {
                        required: true
                    },
                    invoicedate: {
                        required: true
                    },

                    reversecharge: {
                        required: true
                    },

                    HSN: {
                        required: true

                    },
                    itemdesc: {
                        required: true

                    },
                    taxablevalue: {
                        required: true,
                        number: true

                    },

                    iamount: {
                        required: true,
                        number: true

                    },
                    camount: {
                        required: true,
                        number: true

                    },
                    samount: {
                        required: true,
                        number: true

                    },
                    csamount: {
                        //required: true,
                        number: true

                    },
                    unitprice:
                    {
                        required: true,
                        number: true,
                        min: 0.01
                    },
                    discount:
                    {
                        required: true,
                        number: true,
                        min: 0,
                        max: 99
                    }
                    ,
                    qty:
                    {
                        required: true,
                        number: true,
                        min: 0.01
                    }

                },


                messages: {
                    uqc: {
                        required: 'Please select UQC'
                    },
                    cgstin: {
                        required: 'Please select Taxpayer GSTIN'
                    },
                    name: {
                        required: 'Please select Customer Name'
                    },

                    invoicedate: {
                        required: 'Please select Invoice Date'

                    },

                    reversecharge: {
                        required: 'Please select Reverse Charge'

                    },
                    HSN: {
                        required: 'Please select HSN'

                    },
                    itemdesc: {
                        required: 'Please enter Item Description'

                    },

                    taxablevalue: {
                        required: 'Please enter Taxable Value',
                        number: 'Characters are not allowed'

                    },
                    iamount: {
                        required: 'Please enter IGST Amount',
                        number: 'Characters are not allowed'

                    },
                    camount: {
                        required: 'Please enter CGST Amount',
                        number: 'Characters are not allowed'

                    },
                    samount: {
                        required: 'Please enter SGST/UTGST Amount',
                        number: 'Characters are not allowed'

                    },
                    csamount: {
                        //required: 'Please enter CESS Amount',
                        number: 'Characters are not allowed'

                    },
                    unitprice: {
                        required: 'Please enter Unit Price',
                        number: 'Characters are not allowed'

                    },
                    discount: {
                        required: 'Please enter Discount',
                        number: 'Characters are not allowed'

                    },
                    qty: {
                        required: 'Please enter Qty',
                        number: 'Characters are not allowed'

                    },
                    invtype: {
                        required: 'Please select Invoice Type'

                    }


                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            })
        });
    })
</script>

