
@using SmartAdminMvc.Models;
@*@model TBL_GSTR_ACTION_TYPE*@
@using System.Dynamic
@model List<System.Collections.IDictionary>
@{
    WebGrid grid = null;
    var result = new List<dynamic>();

    WebGrid grid1 = null;
    var result1 = new List<dynamic>();

    if (ViewBag.ImportSummary != null)
    {
        foreach (var emprow in ViewBag.ImportSummary)
        {
            var row = (IDictionary<string, object>)new ExpandoObject();
            Dictionary<string, object> eachEmpRow = (Dictionary<string, object>)emprow;

            foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
            {
                row.Add(keyValuePair);
            }
            result.Add(row);
        }
        grid = new WebGrid(source: result, canPage: true, canSort: true);
    }

    if (ViewBag.externalSummary != null)
    {
        foreach (var emprow in ViewBag.externalSummary)
        {
            var row = (IDictionary<string, object>)new ExpandoObject();
            Dictionary<string, object> eachEmpRow = (Dictionary<string, object>)emprow;

            foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
            {
                row.Add(keyValuePair);
            }
            result1.Add(row);
        }
        grid1 = new WebGrid(source: result1, canPage: true, canSort: true);
    }
}

@if (TempData["UploadMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["UploadMessage"]",
                type: "success",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
    </script>
    TempData["UploadMessage"] = null;
}
@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["ErrorMessage"]",
                type: "error",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
    </script>
    TempData["ErrorMessage"] = null;
}

<script type="text/javascript">

    $(document).ready(function () {

        oTableStaticFlow_G1_RETFILE = $('#ImportSummary').DataTable({
            "lengthMenu": [[10, 50, 100, 500, 1000, -1], [10, 50, 100, 500, 1000, "All"]],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }],
        });
        $($(".sorting_asc").get(0)).removeClass("sorting_asc");
    });


</script>

<script type="text/javascript">
    function ShowMessage(param) {
        var gstin = $(param).parent().parent()["0"].childNodes[3].innerText;
        var fp = $(param).parent().parent()["0"].childNodes[5].innerText;
        var action = $(param).parent().parent()["0"].childNodes[7].innerText;
        $('#actionType').val(action);
        $('#period').val(fp);
        $('#gstin').val(gstin);
    }
</script>

<style>

    .modal-dialog {
        text-align: center;
        width: 90%;
        height: 90%;
        margin: 5%;
        padding: 0;
    }

    .modal-content {
        text-align: center;
        height: auto;
        min-height: 90%;
        border-radius: 0;
    }
</style>


<style type="text/css">
    .man {
        color: red;
        font-weight: bolder;
    }

    #errmsg {
        color: red;
    }
</style>

@if (@ViewBag.externalSummary != null)
{
    <script>
        window.onload = function () {

            $(document).ready(function () {
                $('#summaryModal').modal();

            });

        }
    </script>
}


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-home"></i>
                GSTN/Tally Converter
                <span>
                    >&nbsp;
                    Home
                </span>
            </h1>
        </div>

    </div>

    <section id="widget-grid" class="">
        @using (Html.BeginForm("tally", "TallyConverter", FormMethod.Post, new { enctype = "multipart/form-data", @id = "TallyConverter", @name = "TallyConverter" }))
        {
            <div class="row">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2 style="font-weight:bold;">GSTN/Tally Converter</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>

                            <div class="widget-body no-padding">

                                <div id="comment-form" class="smart-form">

                                    @Html.ValidationSummary(true)

                                    <fieldset>
                                        <section class="col col-4">
                                            <label class="col-form-label" style="font-weight:600">Gross Turn Over<span class="man">*</span></label>
                                            <label class="input">
                                                <input type="text" class="grossturnover" name="gtoid" id="gtoid" placeholder="Gross Turn Over" value="@ViewBag.GrossTurnOver">
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="col-form-label" style="font-weight:600">Current Gross Turn Over<span class="man">*</span></label>
                                            <label class="input">
                                                <input type="text" class="grossturnover" name="cgtoid" id="cgtoid" placeholder="Current Gross Turn Over" value="@ViewBag.CurrentGrossTurnOver">
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="col-form-label" style="font-weight:600">Period<span class="man">*</span></label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input class="form-control datepicker" name="periodidr" id="periodidr" type="text" placeholder="Period" data-dateformat='mmyy' value="@ViewBag.Period">
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="col-form-label" style="font-weight:600">GSTR<span class="man">*</span></label>
                                            <label class="input">
                                                @Html.DropDownList("ddlGSTR", ViewBag.GSTRList as SelectList, "Select GSTR", new { @class = "form-control", @id = "ddlGSTR" })
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="col-form-label" style="font-weight:600">GSTIN<span class="man">*</span></label>
                                            <label class="input">
                                                @Html.DropDownList("gstn", ViewBag.GSTINNoList as SelectList, "Select", new { @class = "form-control", @id = "gstn" })
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="col-form-label" style="font-weight:600">Upload File<span class="man">*</span></label>
                                            <label class="input">
                                                <input type="file" id="FileUpload" name="FileUpload" multiple="multiple" />
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="input"></label>
                                            <div class="form-group">
                                                <input type="hidden" name="InvIds" id="InvIds" />
                                            </div>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input"></label>
                                            <div class="form-group">
                                                <input type="hidden" name="actionType" id="actionType" />
                                            </div>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input"></label>
                                            <div class="form-group">
                                                <input type="hidden" name="period" id="period" />
                                            </div>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input"></label>
                                            <div class="form-group">
                                                <input type="hidden" name="gstin" id="gstin" />
                                            </div>
                                        </section>

                                        <input type="hidden" id="hdnRefno" name="refno" placeholder="Reference Number" value="@Session["RefNo"]">
                                        <input type="hidden" id="password" name="password" value="India@123" required>
                                        <input type="hidden" id="client" name="client" value="500" required>
                                    </fieldset>

                                    <footer>

                                        <div>
                                            @if (TempData["TotalRecordsCount"] != null)
                                            {

                                                <section class="col col-3" style="font-weight:bold">Total Records count: @TempData["TotalRecordsCount"].ToString()</section>
                                                <section class="col col-3" style="font-weight:bold">Total Processed Records count: @TempData["ProcessedRecordsCount"].ToString()</section>
                                                <section class="col col-3" style="font-weight:bold">
                                                    @Html.ActionLink("Total Error Records count: " + @TempData["ErrorRecordsCount"].ToString(), "Download")
                                                    <br />
                                                    <div>
                                                        @if (TempData["Error"] != null)
                                                        {
                                                            <div style="font-weight:bold">Unprocessed Sheets:@TempData["Error"].ToString()</div>
                                                        }
                                                    </div>
                                                </section>
                                                <section class="col col-3" style="overflow-wrap:break-word;font-weight:bold">Error in Action Type: @TempData["ErrorRecords"].ToString()</section>
                                            }
                                        </div>
                                        <br />
                                        <button type="submit" name="command" id="convertcsv" value="Convert" class="btn btn-primary" style="border-radius:5px;font-weight:600">
                                            Import Data
                                        </button>

                                    </footer>
                                    <br />
                                    <section>
                                        <div>
                                            <ul style="list-style:none;padding-left:2.5%">
                                                <li style="font-weight:bold;font-size:14px;text-decoration:underline"><a href="~/Documents/GSTR1Tally_Template.xlsx">GSTR1 Template</a></li>
                                                <li style="font-weight:bold;font-size:14px;text-decoration:underline"><a href="~/Documents/Gstr2-Tally template.xlsx">GSTR2 Template</a></li>
                                                <li style="font-weight:bold;font-size:14px;text-decoration:underline"><a href="~/Documents/GSTR1Tally_Template_with_Amendments.xlsx">GSTR1 Template with Amendments</a></li>
                                                <li style="font-weight:bold;font-size:12px;color:red">Note:This document is useful to prepare GSTR1 Data.</li>
                                                <li style="font-weight:bold;font-size:12px;color:red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error File will be as per GSTR1 Amendment Template.</li>
                                                <li style="font-weight:bold;font-size:12px;color:red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Unprocessed Sheets are not according to GSTN/above Templates.</li>
                                            </ul>

                                        </div>

                                        @*<div class="col col-6 text-center">

                                            @if (TempData["Error"] != null)
                                            {
                                                <div class="text-primary text-center">Incorrect Format:@TempData["Error"].ToString()</div>
                                            }
                                        </div>*@

                                    </section>
                                    <div class="message">
                                        <i class="fa fa-check fa-lg"></i>
                                        <p>
                                            Your comment was successfully added!
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" style="overflow:hidden">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>GSTR Tally Upload-View Summary</h2>
                        </header>
                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">


                                <div class="table-responsive" style="margin:5px;">
                                    @if (ViewBag.ImportSummary != null)
                                    {
                                        if (Enumerable.Count(ViewBag.ImportSummary) > 0)
                                        {
                                            int i = 1;
                                            <div class="container-fuild" style="background-color:white;">
                                                <table id="ImportSummary" class="table table-striped table-responsive table-bordered table-hover gridtable">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Gstin No</th>
                                                            <th>Period</th>
                                                            <th>ActionType</th>
                                                            <th>No OF Records</th>
                                                            <th>No Of Invoices</th>
                                                            <th>Taxable Value</th>
                                                            <th>IGST Amount</th>
                                                            <th>CGST Amount</th>
                                                            <th>SGST Amount</th>
                                                            <th>CESS Amount</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in result)
                                                        {
                                                            <tr style="height:60px;">
                                                                <td valign="middle">@Convert.ToInt32(i++)</td>
                                                                <td valign="middle">@item.GstinNo</td>
                                                                <td valign="middle">@item.Period</td>
                                                                <td valign="middle">@item.ActionType</td>
                                                                <td valign="middle">@item.RecordCount</td>
                                                                <td valign="middle">@item.NoOfInvoices</td>
                                                                <td valign="middle">@item.txval</td>
                                                                <td valign="middle">@item.iamt</td>
                                                                <td valign="middle">@item.camt</td>
                                                                <td valign="middle">@item.samt</td>
                                                                <td valign="middle">@item.csamt</td>
                                                                <td valign="middle">

                                                                    <button type="submit" name="command" id="btnRetrieveDelete" value="Delete" class="btn btn-primary btn-lg btnstyle" onclick="javascript:return ShowMessage(this);" style="font-weight:bold;Border-radius:5px;width:80px;margin-bottom:3px;padding:3px;">
                                                                        Delete
                                                                    </button>

                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>


                                        }
                                        else
                                        {
                                            <h3>No Data Found</h3>
                                        }
                                    }
                                    <br />

                                </div>

                                <div id="comment-form" class="smart-form">
                                    <footer>
                                        <button type="submit" name="command" value="ExRetrive" id="btnRetrieveSummary" class="btn btn-primary" style="border-radius:5px;font-weight:600">
                                            View Summary
                                        </button>

                                    </footer>

                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>

                <div class="modal fade text-center" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel"><b>View Summary Data</b></h4>
                            </div>
                            <div class="modal-body terms-body">
                                <div class="table-responsive">
                                    @if (ViewBag.externalSummary != null)
                                    {
                                        if (Enumerable.Count(ViewBag.externalSummary) > 0)
                                        {
                                            int i = 1;
                                            <div class="container-fuild" style="background-color:white;">
                                                <table id="ImportSummary" class="table table-striped table-responsive table-bordered table-hover gridtable">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Gstin No</th>
                                                            <th>Period</th>
                                                            <th>ActionType</th>
                                                            <th>No OF Records</th>
                                                            <th>No Of Invoices</th>
                                                            <th>Taxable Value</th>
                                                            <th>IGST Amount</th>
                                                            <th>CGST Amount</th>
                                                            <th>SGST Amount</th>
                                                            <th>CESS Amount</th>

                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in result1)
                                                        {
                                                            <tr style="height:60px;">
                                                                <td valign="middle">@Convert.ToInt32(i++)</td>
                                                                <td valign="middle">@item.GstinNo</td>
                                                                <td valign="middle">@item.Period</td>
                                                                <td valign="middle">@item.ActionType</td>
                                                                <td valign="middle">@item.RecordCount</td>
                                                                <td valign="middle">@item.NoOfInvoices</td>
                                                                <td valign="middle">@item.txval</td>
                                                                <td valign="middle">@item.iamt</td>
                                                                <td valign="middle">@item.camt</td>
                                                                <td valign="middle">@item.samt</td>
                                                                <td valign="middle">@item.csamt</td>
                                                                <td valign="middle">

                                                                    <button type="submit" name="command" id="btnRetrieveDelete" value="ExDelete" class="btn btn-primary btn-lg btnstyle" onclick="javascript:return ShowMessage(this);" style="font-weight:bold;Border-radius:5px;width:80px;margin-bottom:3px;padding:3px;">
                                                                        Delete
                                                                    </button>

                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>


                                        }
                                        else
                                        {
                                            <h3>No Data Found</h3>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" name="command" value="Upload" class="btn btn-primary " style="border-radius:5px;font-weight:600">
                                    Upload Data
                                </button>
                                <button type="button" class="btn btn-primary" style="font-weight:600;Border-radius:5px;" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>

                    }
                    <!-- end row -->
                    <!-- row -->

                    <div class="row">

                        <!-- a blank row to get started -->
                        <div class="col-sm-12">
                            <!-- your contents here -->
                        </div>

                    </div>

                    <!-- end row -->
                </div>

            </div>

        }
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </section>
</div>

@if (TempData["UploadMessage1"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["UploadMessage1"])));
        TempData["UploadMessage1"] = null;
    </script>
}

@*@if (Session["error"] != null)
    {
        <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(Session["error"]+"format is incorrect.")));
            Session["error"] = null;
        </script>
    }*@

@section pagespecific{
    <script type="text/javascript">

        $('.grossturnover').on('keypress', function (e) {
            return validateFloatKeyPress(this, e);
        });
        function validateFloatKeyPress(el, evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var number = el.value.split('.');
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            //just one dot (thanks ddlab)
            if (number.length > 1 && charCode == 46) {
                return false;
            }
            //get the carat position
            var caratPos = getSelectionStart(el);
            var dotPos = el.value.indexOf(".");
            if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
                return false;
            }
            return true;
        }
        function getSelectionStart(o) {
            if (o.createTextRange) {
                var r = document.selection.createRange().duplicate()
                r.moveEnd('character', o.value.length)
                if (r.text == '') return o.value.length
                return o.value.lastIndexOf(r.text)
            } else return o.selectionStart
        }

        $("#convertcsv").click(function (event) {

            $("#TallyConverter").validate({
                //Rules for form validation
                rules: {
                    gstn: {
                        reuired: true,
                    },
                    gtoid: {
                        required: true,

                    },
                    cgtoid: {
                        required: true,

                    },
                    ddlGSTR: {
                        required: true,
                    },
                    periodidr: {
                        required: true,
                    },
                    gstn: {
                        required: true,
                    },

                    FileUpload: {
                        required: true
                    },
                },
                //Messages for form validation
                messages: {
                    gstn: {
                        required: 'Please select GSTINNo',
                    },
                    gtoid: {
                        required: 'Please enter Gross Turn Over',
                    },
                    cgtoid: {
                        required: 'Please enter Current Gross Turn Over',
                    },

                    periodidr: {
                        required: 'Please select date',

                    },
                    ddlGSTR: {
                        required: 'Please select GSTR'
                    },
                    gstn: {
                        required: 'Please select GSTINNo',
                    },
                    FileUpload: {
                        required: 'Please select file to upload'
                    },
                },
                //Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                },
            });
        });

        $("#gstrupload").click(function (event) {
            var $checkoutForm = $('#TallyConverter').validate({
                // Rules for form validation
                rules: {
                    gtoid: {
                        required: true,

                    },
                    cgtoid: {
                        required: true,

                    },
                    periodidr: {
                        required: true,
                    },
                    ddlGSTR: {
                        required: true
                    }
                },
                // Messages for form validation
                messages: {
                    gtoid: {
                        required: 'Please enter Gross Turn Over',
                    },
                    cgtoid: {
                        required: 'Please enter Current Gross Turn Over',
                    },

                    periodidr: {
                        required: 'Please select date',

                    },
                    ddlGSTR: {
                        required: 'Please select GSTR'
                    }
                },
                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })

        $("#btnRetrieveSummary").click(function (event) {
            var $checkoutForm = $('#TallyConverter').validate({
                // Rules for form validation
                rules: {
                  
                    periodidr: {
                        required: true,
                    },
                    ddlGSTR: {
                        required: true
                    }
                },
                // Messages for form validation
                messages: {
                   

                    periodidr: {
                        required: 'Please select date',

                    },
                    ddlGSTR: {
                        required: 'Please select GSTR'
                    }
                },
                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })

        $(document).ready(function () {
            $('#tabs').tabs();
            $('#tab').tabs();
            $('#tabss').tabs();
        })
                                //$(document).ready(function () {
                                //    $('input[type=file]').change(function () {
                                //        //$("#convertcsv").change(function () {
                                //        var val = $(this).val().toLowerCase();
                                //        var regex = new RegExp("(.*?)\.(xlsx)$");
                                //        if (!(regex.test(val))) {
                                //            $(this).val('');
                                //            alert('Please select xlsx file format');
                                //        }
                                //    });
                                //});

    </script>
}