@model WeP_DAL.BranchMgmt.BranchViewModel

<script type="text/javascript">

    $(document).ready(function () {

        oTableStaticFlow = $('#branchMgmt').DataTable({
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }],
        });

    });

</script>

@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["SuccessMessage"]",
                type: "success",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
    </script>
    TempData["SuccessMessage"] = null;
}

@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["ErrorMessage"]",
                type: "error",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
    </script>
    TempData["ErrorMessage"] = null;
}
<style>
    .btnstyle {
        font-weight: bold;
        color: white;
        border-radius: 8px;
    }

    table.gridtable th {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: #3276b1;
    }

    table.gridtable td {
        text-align: center;
    }
</style>
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: auto;
        overflow-x: hidden;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    input[type=search] {
        margin: 0px !important;
    }

    .tblheader {
        text-align: center;
        color: white;
        background-color: #85C1E9;
    }

    .tblbody {
        text-align: center;
    }
</style>
<div id="content">
    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                EWayBill
                <span>
                    >&nbsp;
                    Location Management
                </span>
            </h1>
        </div>

    </div>
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <form action="@Url.Action("Home", "BranchMgmt")" method="post" id="BranchMgmt" name="BranchMgmt" autocomplete="off" novalidate="novalidate">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2>Location</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form" class="smart-form">

                                    <fieldset>

                                        <div class="row">

                                            <section class="col col-3">
                                                <label class="label"><b>Company</b><span style="color:red">*</span></label>
                                                <label class="input">
                                                    @Html.DropDownList("ddlPanNo", ViewBag.Panlist as SelectList, "Select Company", new { @class = "form-control", id = "ddlPanNo", autopostback = "true", onchange = "submit();" })
                                                </label>
                                            </section>
                                            @if (ViewBag.Panno != null)
                                            {
                                                <section class="col col-3">
                                                    <label class="label"><b>GSTIN</b><span style="color:red">*</span></label>

                                                    <div class="col-xs-12 col-lg-12 selectContainer">
                                                        @Html.DropDownList("ddlGSTIN", ViewBag.GstinList as SelectList, "Select GSTIN", new { @class = "form-control", id = "ddlGSTIN", autopostback = "true" })
                                                    </div>
                                                </section>
                                            }
                                            else
                                            {
                                                <section class="col col-3">
                                                    <label class="label"><b>GSTIN</b><span style="color:red">*</span></label>
                                                    <div class="col-xs-12 col-lg-12 selectContainer">
                                                        <select style="" class="form-control" name="GSTINNo">
                                                            <option value="ALL">Select GSTIN</option>
                                                        </select>
                                                    </div>
                                                </section>
                                            }

                                            <section class="col col-3">
                                                <label class="label"><b>Location Name</b><span style="color:red">*</span></label>
                                                <label class="input">
                                                    <input type="text" name="branchName" id="branchName" value="" placeholder="enter Location Name" style="text-transform:uppercase">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label class="label"><b>User List</b><span style="color:red">*</span></label>

                                                <div class="col-xs-12 col-lg-12 selectContainer">

                                                    @Html.DropDownList("UserId", (MultiSelectList)ViewBag.UserList, new { multiple = "multiple", @Class = "form-control", selected = true })
                                                </div>
                                            </section>

                                            @if (Session["ewbEmailSetting"].ToString() == "True")
                                            {
                                                <section class="col col-3">
                                                    <label class="label"><b>Email For Sending Eway Bill</b></label>
                                                    <label class="input">
                                                        <textarea rows="4" cols="60" name="email" id="email" value="@ViewBag.email" placeholder="To send EwayBill to multiple email Id's,write email Id's separated by semicolons.( E.G: test@gmail.com;test1@gmail.com;test3@gmail.com etc.)"></textarea>
                                                    </label>
                                                </section>
                                            }
                                        </div>



                                    </fieldset>
                                    <footer>

                                        <button type="submit" name="Command" value="BranchMgmt" id="btnBranchMgmt" class="btn btn-primary" style="border-radius:40px;font-weight:600">
                                            Submit
                                        </button>
                                    </footer>
                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>



                </article>


                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2>Location List</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div class="table table-responsive">

                                    <div class="container-fuild" style="background-color:white;margin:10px;">
                                        @if (Model != null)
                                        {
                                            if (Model.BranchList.Count > 0)
                                            {
                                                int i = 1;
                                                <table id="branchMgmt" class="table table-striped table-responsive table-bordered table-hover gridtable">
                                                    <thead class="text-center">
                                                        <tr class="text-center">
                                                            <th class="text-center" style="font-weight:bold;font-size:16px;">S.No</th>
                                                            <th class="text-center" style="font-weight:bold;font-size:16px;">Company Name</th>
                                                            <th class="text-center" style="font-weight:bold;font-size:16px;">GSTIN</th>
                                                            <th class="text-center" style="font-weight:bold;font-size:16px;">Branch Name</th>
                                                            <th class="text-center" style="font-weight:bold;font-size:16px;">Email</th>
                                                            <th class="text-center" style="font-weight:bold;font-size:16px;">Edit</th>
                                                            <th class="text-center" style="font-weight:bold;font-size:16px;">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var List in Model.BranchList)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToInt32(i++)</td>
                                                                <td>@List.company</td>
                                                                <td>@List.gstinNo</td>
                                                                <td>@List.branchName</td>
                                                                <td>@List.email</td>
                                                                <td><input id='Edit' onclick='editBranch("@List.branchId")' type='button' value='Edit' class="btn btn-primary" style="font-weight:bold;Border-radius:5px;width:80px;padding:3px;" /></td>
                                                                <td><input id='Delete' onclick='deleteBranch("@List.branchId")' type='button' value='Delete' class="btn btn-danger" style="font-weight:bold;Border-radius:5px;width:80px;padding:3px;" /></td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            }
                                        }


                                    </div>


                                </div>


                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>

            </form>
            <!-- end widget -->
            <!-- Widget ID (each widget will need unique ID)-->


        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">

        function editBranch(branchId) {
            debugger;
            swal({
                title: "",
                text: "Are you sure that you want to Edit this Record?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Edit",
                confirmButtonColor: "#ec6c62"
            },
                function (isConfirm) {
                    if (isConfirm) {

                        var Id = branchId;

                        window.location.href = "/BranchMgmt/Edit/" + Id;

                    }
                });
        }

        function deleteBranch(branchId) {
            debugger;
            swal({
                title: "",
                text: "Are you sure that you want to delete this Record?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Delete",
                confirmButtonColor: "#ec6c62"
            },
                function (isConfirm) {
                    debugger;
                    if (isConfirm) {

                        $.ajax({

                            url: "/BranchMgmt/Delete/",
                            data: { "Id": branchId },
                            type: "GET",
                            success: function (data) {
                                if (data == "1") {
                                    sweetAlert
                                        ({
                                            title: "",
                                            text: "Branch Deleted Successfully",
                                            type: "success"
                                        },
                                        function () {
                                            window.location.href = '/BranchMgmt/Home';
                                        });
                                }
                                else if (data == "0") {
                                    sweetAlert
                                        ({
                                            title: "",
                                            text: "Something went Wrong,Operation failure",
                                            type: "error"
                                        },
                                        function () {
                                            window.location.href = '/BranchMgmt/Home';
                                        });

                                }

                            },
                            error: function (error) {
                                sweetAlert
                                    ({
                                        title: "",
                                        text: error,
                                        type: "success"
                                    });
                            }
                        })


                    }
                });
        }

        $('#btnBranchMgmt').click(function () {


            var $checkoutForm = $('#BranchMgmt').validate({
                // Rules for form validation
                rules: {


                    ddlPanNo: {
                        required: true
                    },
                    ddlGSTIN: {
                        required: true
                    },
                    branchName: {
                        required: true
                    },


                },
                messages: {


                    ddlPanNo: {
                        required: 'Please select Company'
                    },
                    ddlGSTIN: {
                        required: 'Please select GSTIN'
                    },
                    branchName: {
                        required: 'Please enter Branch Name'
                    },
                   


                }
            });
        })


    </script>


}
