

@using System.Dynamic
@using System.Dynamic
@model List<System.Collections.IDictionary>
@{
    WebGrid grid = null;
    int rowVal = 0;
    var result = new List<dynamic>();
    if (ViewBag.DOC != null)
    {
        //TempData["Data"] = Model;
        foreach (var emprow in ViewBag.DOC)
        {
            var row = (IDictionary<string, object>)new ExpandoObject();
            Dictionary<string, object> eachEmpRow = (Dictionary<string, object>)emprow;

            foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
            {
                row.Add(keyValuePair);
            }
            result.Add(row);
        }
        grid = new WebGrid(source: result, canPage: true, canSort: true);
    }
}










<style>
    .ui-autocomplete {
        max-height: 200px;
        width: 800px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: auto;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
        background-color: palegoldenrod;
    }
</style>
<div id="content">
    <section id="widget-grid" class="">

        <div class="row">
            <form action="@Url.Action("DocIssue","OutwardUpdate")" method="post" id="OutwardB2BEdit" novalidate="novalidate" autocomplete="off">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2 style="font-weight:bold;">Update Outward DOCIssue Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div id="comment-form" class="smart-form">
                                    <fieldset class="smart-form">
                                        <div class="row">

                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Taxpayer GSTIN</label>
                                                    <label class="input">
                                                        <input type="text" name="cgstin" id="cgstin" value="@ViewBag.Gstin" placeholder="Invoice No." style="background-color:#d9d9d9;" readonly>
                                                    </label>
                                                </div>
                                            </section>

                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Period</label>
                                                    <label class="input">
                                                        <input type="text" name="period" id="period" value="@ViewBag.Period" placeholder="Invoice No." style="background-color:#d9d9d9;" readonly>
                                                    </label>
                                                </div>
                                            </section>
                                        </div>

                                    </fieldset>

                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2 style="font-weight:bold;">Add invoice item</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div id="comment-form1" class="smart-form">
                                    <div class="smart-form">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>

                                                        <th style="width:100px">Nature of Document<span style="color:red">*</span></th>
                                                        <th style="width:100px">From Serial Number<span style="color:red">*</span></th>
                                                        <th style="width:100px">To Serial Number<span style="color:red">*</span></th>
                                                        <th style="width:100px">Total Number<span style="color:red">*</span></th>
                                                        <th style="width:100px">Cancelled</th>
                                                        <th style="width:100px">Net Issued<span style="color:red">*</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td>
                                                            <label class="input">
                                                                @Html.DropDownList("DocTpe", new SelectList(ViewBag.DocType, "Value", "Text"), "--Select--", new { @Class = "form-control input-sm", @id = "txval_@rowVal", @onchange = "taxCalculation();", @style = "" })
                                                              
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="FromSno" id="FromSno" maxlength="16" placeholder="Enter From Serial Number">
                                                            </label>
                                                        </td>

                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="ToSno" id="ToSno" maxlength="16" placeholder="Enter To Serial Number">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="Total" id="Total" placeholder="Enter Total Number" onchange="taxCalculation();">
                                                            </label>
                                                        </td>

                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="Cancelled" value="0" id="Cancelled" placeholder="Enter Cancelled" onchange="taxCalculation();">
                                                            </label>
                                                        </td>

                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="NetIssue" id="NetIssue" readonly style="background-color:#d9d9d9;" value="0">
                                                            </label>
                                                        </td>




                                                    </tr>
                                                    <tr>
                                                        <td colspan="13" align="center">
                                                            <button type="Submit" id="btnSubmit" name="command" class="btn btn-sm btn-success" style="font-weight:bold;Border-radius:10px;width:60px;margin-bottom:3px;padding:3px" value="add">Add</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2 style="font-weight:bold;">Update Outward DOCIssue Item Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div id="comment-form1" class="smart-form">

                                    <div class="smart-form">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="row">
                                                        <th>Nature of Document<span style="color:red">*</span></th>
                                                        <th>From Serial Number<span style="color:red">*</span></th>
                                                        <th>To Serial Number<span style="color:red">*</span></th>
                                                        <th>Total Number<span style="color:red">*</span></th>
                                                        <th>Cancelled</th>
                                                        <th>Net Issued<span style="color:red">*</span></th>
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var items in result)
                                                    {

                                                        
                                                        <tr class="row">
                                                           
                                                            @if (items.doc_num == 1)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Invoice for outward supply" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                            }
                                                            else if (items.doc_num == 2)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Invoice for inward supply from unregistered person" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>

                                                            }
                                                            else if (items.doc_num == 3)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Revised Invoice" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>

                                                                
                                                            }
                                                            else if (items.doc_num == 4)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Debit Note" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                               
                                                            }
                                                            else if (items.doc_num == 5)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Credit Note" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                                
                                                            }
                                                            else if (items.doc_num == 6)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Receipt Voncher" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                                
                                                            }
                                                            else if (items.doc_num == 7)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Payment Voncher" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                               
                                                            }
                                                            else if (items.doc_num == 8)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Refund Voncher" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                                
                                                            }
                                                            else if (items.doc_num == 9)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Delivery Challan for job work" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                                
                                                            }
                                                            else if (items.doc_num == 10)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Delivery Challan for supply on approval" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                               
                                                            }
                                                            else if (items.doc_num == 11)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Delivery Challan in case of liquid gas" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                                
                                                            }
                                                            else if (items.doc_num == 12)
                                                            {
                                                                <td>
                                                                    <label class="input">
                                                                        <input type="text" id="DocType_@rowVal" value="Delivery Challan in cases other than by way of supply(excluding at S no. 9 to 11)" onchange="taxableCalculation(@rowVal);" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                    </label>
                                                                </td>
                                                                
                                                            }

                                                            
                                                            <td>
                                                                <label class="input">
                                                                    <input type="hidden" id="DocTyp_@rowVal" value="@items.doc_num" />
                                                                    <input type="text" id="FromSno_@rowVal" value="@items.froms" class="floatinput" />
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="ToSno_@rowVal" value="@items.tos" class="floatinput" />
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="Total_@rowVal" value="@items.totnum" class="floatinput" onchange="taxableCalculation(@rowVal);" />
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="Cancelled_@rowVal" value="@items.cancel" class="floatinput" onchange="taxableCalculation(@rowVal);" />
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="NetIssue_@rowVal" value="@items.net_issue" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <input type="button" class="text-center" id="editBtn_@rowVal" onclick="Edit(@items.docid,@rowVal)" value="Update" style="border:2px solid #a0aeb3;background-color:#a0aeb3;border-radius:5px;font-weight:bold;padding:5px;color:white" />
                                                            </td>
                                                            <td>
                                                                <input type="button" class="text-center" id="delBtn_@rowVal" onclick="Delete(@items.docid,@rowVal)" value="Delete" style="border:2px solid #a0aeb3;background-color:#a0aeb3;border-radius:5px;font-weight:bold;padding:5px;color:white" />
                                                            </td>
                                                        </tr>
                                                        rowVal = rowVal + 1;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <footer></footer>

                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>
                <br />

            </form>
        </div>
    </section>
</div>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(TempData["Message"])));
    </script>
    TempData["Message"] = null;
}
<script type="text/javascript">
        $('.floatinput').on('keypress', function (e) {
            return validateFloatKeyPress(this, e);

        });

        function taxCalculation() {

            var Total = document.getElementById("Total").value;
            var Cancelled = document.getElementById("Cancelled").value;
            var NetIssue = (Total - Cancelled);
            document.getElementById("NetIssue").value = NetIssue;

        }

        function taxableCalculation(index) {

            var Total = document.getElementById("Total_"+ index).value;
            var Cancelled = document.getElementById("Cancelled_"+ index).value;
            var NetIssue = (Total - Cancelled);
            document.getElementById("NetIssue_"+ index).value = NetIssue;

        }
        function Edit(id, index) {
            debugger;
            var row = $("#editBtn_" + index).parent().parent();
            // var index = $(this).closest("tr").index();
            var docnum = row.find("#DocTyp_" + index).val();
            var fromsno = row.find("#FromSno_" + index).val();
            var tosno = row.find("#ToSno_" + index).val();
            var totalnum = row.find("#Total_" + index).val();
            var cancel = row.find("#Cancelled_" + index).val();
            var netissue = row.find("#NetIssue_" + index).val();

            if (docnum == '') {
                alert("Enter Nature of Document");
                return false;
            }
            else if (fromsno == '') {
                alert("Enter From Serial Number");
                return false;
            }
            else if (tosno == '') {
                alert('Enter To Serial Number');
                return false;
            }
           
            else if (totalnum == '') {
                alert('Enter Total Number');
                return false;
            }
            else if (cancel == '') {
                alert('Enter cancelled');
                return false;
            }
           

            var obj = {
                id: id,
                docnum: docnum,
                fromsno: fromsno,
                tosno: tosno,
                totalnum: totalnum,
                cancel: cancel,
                netissue: netissue
            }


            $.ajax({
                type: "POST",
                url: '/OutwardUpdate/DocUpdate',
                data: JSON.stringify(obj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {

                    location.reload();

                }

            });
        }

        function Delete(id, index) {
           
            $.ajax({
                type: "GET",
                url: '/OutwardUpdate/DocDelete',
                data: { id: id },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {

                    location.reload();

                }

            });

        }

        function updatedetails(index) {
            var row = $(this).parent().parent();
            var qty = document.getElementById("qty_" + index).value;
            var unitprice = document.getElementById("unitprice_" + index).value;
            var discount = document.getElementById("discount_" + index).value;
            var rate = document.getElementById("rate_" + index).value;

            var igsta = document.getElementById("iamt_" + index);
            var cgsta = document.getElementById("camt_" + index);
            var sgsta = document.getElementById("samt_" + index);
            var cessa = document.getElementById("csamt_" + index);

            if ((qty != "") && (unitprice != "") && (discount != "")) {

                var discountValue;
                discountValue = (((qty * unitprice) / 100) * discount);
                document.getElementById("txval_" + index).value = ((unitprice * qty) - discountValue).toFixed(2);
            }
            var taxablevalue = document.getElementById("txval_" + index).value;

            if ((taxablevalue != "") && (rate != "")) {
                var cgstin = document.getElementById("cgstin").value;
                var gstin = document.getElementById("pos").value;
                var cgstin_state = cgstin.substring(0, 2);
                var gstin_state = gstin.substring(0, 2);
                if ((gstin_state != "") && (cgstin_state != "")) {
                    if (gstin_state != cgstin_state) {
                        igsta.value = (taxablevalue * rate) / 100;
                        cgsta.value = "0";
                        sgsta.value = "0";
                    }
                    else if (gstin_state == cgstin_state) {
                        igsta.value = "0";
                        cgsta.value = (taxablevalue * (rate / 2)) / 100;
                        sgsta.value = (taxablevalue * (rate / 2)) / 100;
                    }
                }
            }



        }

        function updateRate(index) {

            var row = $("#hsncode_" + index).parent().parent();

            var hsnid = $("#hsncode_" + index).val();
            $.ajax({
                type: "GET",
                url: '/OutwardB2B/AutoPopulate1',
                data: { id: hsnid },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {

                    document.getElementById("rate_" + index).value = data.rate;


                }

            });

        }

        $(document).ready(function () {

            $("#hsn").on('change', function () {

                var txt = $('#hsn').val().split("|");
                $('#hsn').val(txt[0]);
                $("#rate").val(txt[1]);


            });

            $(document).ready(function () {

                $("#hsn").autocomplete({

                    minlength: 3,
                    scroll: true,
                    source: function (request, response) {

                        $.ajax({

                            url: "/OutwardB2B/AutoPopulate",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term },
                            success: function (data) {

                                response($.map(data, function (item) {



                                    return {

                                        label: item.hsncode + "-" + item.hsndesc,

                                        value: item.hsncode + "|" + item.rate



                                    };

                                }));

                            },
                            messages: {

                                noResults: "", results: "",

                            }

                        });

                    }

                });


            })

            $("#name").on('change', function () {
                var name = $(this).val();
                $.ajax({
                    type: "GET",
                    url: '/OutwardB2B/load',
                    data: { name: name },
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#pos").val(data.StateCode);
                        //$("#address").val(data.Address);
                        $("#gstin").val(data.GSTINno);
                    }

                });
            });

            $("#btnsubmit").on('click', function () {
                var $checkoutForm = $('#OutwardB2BEdit').validate({
                    // Rules for form validation
                    rules: {

                        cgstin: {
                            required: true
                        },
                        Period: {
                            required: true
                        },
                        DocType: {
                            required: true
                        },
                        FromSno: {
                            required: true
                        },
                        ToSno: {
                            required: true
                        },

                        Total: {
                            required: true
                        },
                        NetIssue: {
                            required: true

                        }



                    },

                    // Messages for form validation
                    messages: {

                        cgstin: {
                            required: 'Please select TaxPayer GSTIN'
                        },
                        Period: {
                            required: 'Please select Period'
                        },
                        DocType: {
                            required: 'Please select Nature of Document'
                        },
                        FromSno: {
                            required: 'Please enter From Serial Number'
                        },
                        ToSno: {
                            required: 'Please enter To Serial Number'
                        },

                        Total: {
                            required: 'Please enter Total Number'
                        },
                        NetIssue: {
                            required: 'Please enter Net Issue'

                        }

                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                })
            });

            $("#btnAdd").on('click', function () {
                var $checkoutForm = $('#OutwardB2BEdit').validate({
                    // Rules for form validation
                    rules: {
                        uqc: {
                            required: true
                        },
                        cgstin: {
                            required: true
                        },
                        name: {
                            required: true
                        },

                        invtype: {
                            required: true
                        },
                        invoicedate: {
                            required: true
                        },

                        reversecharge: {
                            required: true
                        },

                        HSN: {
                            required: true

                        },
                        itemdesc: {
                            required: true

                        },
                        taxablevalue: {
                            required: true,
                            number: true

                        },

                        iamount: {
                            required: true,
                            number: true

                        },
                        camount: {
                            required: true,
                            number: true

                        },
                        samount: {
                            required: true,
                            number: true

                        },
                        csamount: {
                            //required: true,
                            number: true

                        },
                        unitprice:
                            {
                                required: true,
                                number: true,
                                min: 0.01
                            },
                        discount:
                            {
                                required: true,
                                number: true,
                                min: 0,
                                max: 99
                            }
                        ,
                        qty:
                            {
                                required: true,
                                number: true,
                                min: 0.01
                            }

                    },


                    messages: {
                        uqc: {
                            required: 'Please select UQC'
                        },
                        cgstin: {
                            required: 'Please select Taxpayer GSTIN'
                        },
                        name: {
                            required: 'Please select Customer Name'
                        },

                        invoicedate: {
                            required: 'Please select Invoice Date'

                        },

                        reversecharge: {
                            required: 'Please select Reverse Charge'

                        },
                        HSN: {
                            required: 'Please select HSN'

                        },
                        itemdesc: {
                            required: 'Please enter Item Description'

                        },

                        taxablevalue: {
                            required: 'Please enter Taxable Value',
                            number: 'Characters are not allowed'

                        },
                        iamount: {
                            required: 'Please enter IGST Amount',
                            number: 'Characters are not allowed'

                        },
                        camount: {
                            required: 'Please enter CGST Amount',
                            number: 'Characters are not allowed'

                        },
                        samount: {
                            required: 'Please enter SGST/UTGST Amount',
                            number: 'Characters are not allowed'

                        },
                        csamount: {
                            //required: 'Please enter CESS Amount',
                            number: 'Characters are not allowed'

                        },
                        unitprice: {
                            required: 'Please enter Unit Price',
                            number: 'Characters are not allowed'

                        },
                        discount: {
                            required: 'Please enter Discount',
                            number: 'Characters are not allowed'

                        },
                        qty: {
                            required: 'Please enter Qty',
                            number: 'Characters are not allowed'

                        },
                        invtype: {
                            required: 'Please select Invoice Type'

                        }


                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                })
            });
        })
</script>


