
@using System.Dynamic
@model List<System.Collections.IDictionary>
@{
    WebGrid grid = null;
    var result = new List<dynamic>();
    if (ViewBag.Nil != null)
    {
        //TempData["Data"] = Model;
        foreach (var emprow in ViewBag.Nil)
        {
            var row = (IDictionary<string, object>)new ExpandoObject();
            Dictionary<string, object> eachEmpRow = (Dictionary<string, object>)emprow;

            foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
            {
                row.Add(keyValuePair);
            }
            result.Add(row);
        }
        grid = new WebGrid(source: result, canPage: true, canSort: true);
    }
}



<style type="text/css">
    .ui-autocomplete {
        max-height: 200px;
        width: 800px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: auto;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
        background-color: palegoldenrod;
    }

    table.gridtable th {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: #3276b1;
    }

    table.gridtable td {
        text-align: center;
    }
</style>


<div id="content">

    <div class="row">

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">

                <i class="fa-fw fa fa-home"></i>
                Outward Register
                <span>
                    >&nbsp;
                    NilRated
                </span>
            </h1>
        </div>


    </div>

    <form action="@Url.Action("NilRated", "OutwardUpdate")" method="post" id="OutwardB2B" novalidate="novalidate">

        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2 style="font-weight:bold;">Outward NilRated Update</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form" class="smart-form">
                                    <fieldset class="smart-form">
@foreach (var items in result)
{
                                        <div class="row">
                                            <input type="hidden" name="nilid" value="@items.nilid" placeholder="Select Period" class="form-control" style="background-color:#d9d9d9;" readonly>
                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Taxpayer GSTIN<span style="color:red">*</span></label>
                                                    <label class="input">
                                                        <input type="text" name="cgstin" value="@items.gstin" placeholder="Select Period" class="form-control" style="background-color:#d9d9d9;" readonly>
                                                    </label>
                                                </div>
                                            </section>

                                            <section class="col col-3">
                                                <label>Period</label><span style="color:red">*</span>
                                                <label class="input">
                                                   
                                                    <input type="text" name="Period" value="@items.fp" placeholder="Select Period" class="form-control" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Supply Type<span style="color:red">*</span></label>
                                                    <label class="input">
                                                        <input type="text" name="supplytype" value="@items.sply_ty" placeholder="Select Period" class="form-control" style="background-color:#d9d9d9;" readonly>
                                                    </label>
                                                </div>
                                            </section>
                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Nil Rated Supplies</label>
                                                    <label class="input">
                                                        <input type="text" name="nilrated" id="nilrated" value="@items.nil_amt" placeholder="Enter Nil Rated Supplies" class="form-control floatinput" maxlength="14">
                                                    </label>
                                                </div>
                                            </section>

                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Exempted Supplies</label>
                                                    <label class="input">
                                                        <input type="text" placeholder="Enter Exempted Supplies" value="@items.expt_amt" name="exempted" id="exempted" class="form-control floatinput" maxlength="14">
                                                    </label>
                                                </div>
                                            </section>

                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Non-GST Supplies</label>
                                                    <label class="input">
                                                        <input type="text" placeholder="Enter Non-GST Supplies" value="@items.ngsup_amt" name="non-gst" id="non-gst" class="form-control floatinput" maxlength="14">
                                                    </label>
                                                </div>
                                            </section>

                                        </div>
}
                                    </fieldset>

                                    <footer>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" name="command" id="btnsubmit" value="save" class="btn btn-primary" style="background-color:#508180!important;border-radius:5px;border:2px solid #508180;font-weight:bold;margin-right:10px;">Update</button>
                                            </div>
                                        </div>
                                    </footer>
                                    <div class="message">
                                        <i class="fa fa-check fa-lg"></i>
                                        <p>
                                            Your comment was successfully added!
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->
                <!-- end widget -->
            </div>

            <!-- end row -->
            <!-- row -->
            <!-- end row -->

        </section>
        <div id="popup_pdf">

        </div>
    </form>
</div>





@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["Message"])));

    </script>
    TempData["Message"] = null;
}





@section pagespecific{
    <script type="text/javascript">

        $('#pos').bind('keypress', numericInput);
        $('.floatinput').on('keypress', function (e) {
            return validateFloatKeyPress(this, e);

        });
        function limitTextarea(textarea, maxLines, maxChar) {
            var lines = textarea.value.replace(/\r/g, '').split('\n'), lines_removed, char_removed, i;
            if (maxLines && lines.length > maxLines) {
                lines = lines.slice(0, maxLines);
                lines_removed = 1
            }
            if (maxChar) {
                i = lines.length;
                while (i-- > 0) if (lines[i].length > maxChar) {
                    lines[i] = lines[i].slice(0, maxChar);
                    char_removed = 1
                }
                if (char_removed || lines_removed) {
                    textarea.value = lines.join('\n')
                }
            }
        }


    </script>



    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!



        $(document).ready(function () {





            $('#btnsubmit').click(function () {



                var $checkoutForm = $('#OutwardB2B').validate({
                    rules: {

                        cgstin: {
                            required: true
                        },
                        Period: {
                            required: true
                        },
                        supplytype: {
                            required: true
                        },
                        supplytpe: {
                            required: true
                        }

                    },

                    // Messages for form validation
                    messages: {

                        cgstin: {
                            required: 'Please select Taxpayer GSTIN'
                        },
                        Period: {
                            required: 'Please select Period'
                        },
                        supplytype: {
                            required: 'Please select Supply Type'
                        },
                        supplyty: {
                            required: 'Please select Supply Type'
                        }

                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                })



            });
        })

    </script>

}
