@model WeP_DAL.GSTR9Attribute.ReportViewModel
@if (@ViewBag.OTPSession == "OPEN_POPUP")
{
    <script>
        window.onload = function () {

            $(document).ready(function () {
                $('#myOTPModal').modal();

            });

        }
    </script>
}
@if (TempData["AuthMsg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["AuthMsg"])));
    </script>
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-pencil-square-o fa-fw "></i>
                GSTR9
                <span>
                    >
                    Download
                </span>
            </h1>
        </div>
    </div>

    @using (Html.BeginForm("GetDetails", "Gstr9Download", FormMethod.Post, new { @id = "MyReport", @name = "MyReport" }))
    {
        <!-- widget grid -->
        <section id="widget-grid" class="">



            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2><b>GSTR-9 Download</b></h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">

                                <div id="comment-form" class="smart-form">

                                    <fieldset>

                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">GSTIN<span style="color:red">*</span></label>
                                                <div class="col-xs-9 col-lg-9 selectContainer">
                                                    @Html.DropDownList("strGSTIN", ViewBag.GSTINNoList as SelectList, "Select GSTIN", new { @class = "form-control", id = "strGSTIN", autopostback = "true", @onchange = "submit();" })
                                                </div>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Financial Year<span style="color:red">*</span></label>
                                                <div class="col-xs-9 col-lg-9 selectContainer">
                                                    @Html.DropDownList("FinancialList", ViewBag.GetFinancialList as SelectList, "Select Financial Year", new { @class = "form-control", id = "FinancialList", autopostback = "true" })
                                                </div>
                                            </section>
                                          


                                        </div>

                                    </fieldset>

                                    <footer>
                                        <button type="submit" name="command" id="btngetReport" value="getReport" class="btn btn-primary pull-right" style="border-radius:5px;font-weight:600">
                                            Get Data
                                        </button>
                                    </footer>

                                    <div class="message">
                                        <i class="fa fa-check fa-lg"></i>
                                        <p>
                                            Your comment was successfully added!
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>

                <article class="col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2><b>GSTR-9 Download</b></h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">

                                <div id="comment-form" class="smart-form">

                                    <fieldset>

                                        <div class="row">

                                            @ViewBag.Gstr9Data

                                        </div>

                                    </fieldset>

                                   

                                    <div class="message">
                                        <i class="fa fa-check fa-lg"></i>
                                        <p>
                                            Your comment was successfully added!
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>

                <!-- WIDGET END -->
                <!-- NEW WIDGET START -->



            </div>


            <!-- end row -->


        </section>
        <div class="modal fade" id="myOTPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">GST Authentication</h4>
                    </div>
                    <div class="modal-body custom-scroll terms-body">
                        <div id="left">
                            <b>@ViewBag.AUTH_Response</b>
                            <br /><br />
                            <input type="text" id="OTP" name="OTP" class="form-group" placeholder="Enter OTP" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" name="OTPSubmit" value="GSTR 1 Save" class="btn btn-primary" style="border-radius:13px;font-weight:600">
                                Submit
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

        <!-- end widget grid -->
    }
</div>


<style>
    body {
        background-color: #D3D3D3;
    }
</style>


<script type="text/javascript">

    $('#btngetReport').click(function () {

        var $checkoutForm = $('#MyReport').validate({
            // Rules for form validation
            rules: {

                GetGSTR9DataList: {
                    required: true
                },
                FinancialList: {
                    required: true
                }

            },
            messages: {

                DataMode: {
                    GetGSTR9DataList: 'Please select Download Type'
                },
                FinancialList: {
                    required: 'Please select Financial Year'
                }



            }
        });
    })

</script>

@if (TempData["error"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["error"]",
                type: "error",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
    </script>
    TempData["ErrorMessage"] = null;
}