
@{

    int rowVal = 0;

}

<style>
    .ui-autocomplete {
        max-height: 200px;
        width: 800px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: auto;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
        background-color: palegoldenrod;
    }
</style>



<div id="content">
    <section id="widget-grid" class="">

        <div class="row">
            <form action="@Url.Action("EXP", "EXPUpdate")" method="post" id="OutwardEXPEdit" novalidate="novalidate">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2 style="font-weight:bold;">Update Outward EXP Details</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form" class="smart-form">
                                    <fieldset class="smart-form">
                                        <div class="row">

                                            <section class="col col-3">
                                                <label>Name of Recipient<span style="color:red">*</span></label>
                                                <label class="input">
                                                    <input type="text" name="name" value="@ViewBag.Name" placeholder="Name of Recipient" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Address<span style="color:red">*</span></label>
                                                <label class="input">
                                                    <input type="text" name="address" value="@ViewBag.Address" placeholder="Address" style="background-color:#d9d9d9;" readonly>
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Taxpayer GSTIN<span style="color:red">*</span></label>
                                                    <label class="input">
                                                        <input type="text" name="cgstin" id="cgstin" value="@ViewBag.master.gstin" placeholder="Invoice No." style="background-color:#d9d9d9;" readonly onchange="taxableCalculation()">
                                                    </label>
                                                </div>
                                            </section>
                                            <section class="col col-3">
                                                <label> Invoice Number</label><span style="color:red">*</span>
                                                <label class="input">

                                                    <input type="text" name="invoiceno" id="invoiceno" value="@ViewBag.master.inum" placeholder="Invoice No." readonly style="background-color:#d9d9d9;">

                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Invoice Date</label><span style="color:red">*</span>
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" name="invoicedate" value="@ViewBag.master.idt" placeholder="Invoice Date" readonly data-dateformat='dd-mm-yy' style="background-color:#d9d9d9;">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Invoice Value<span style="color:red">*</span></label>
                                                <label class="input">
                                                    <input type="text" name="invoicevalue" value="@ViewBag.master.val" placeholder="Invoice Value" readonly style="background-color:#d9d9d9;" class="floatinput">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Shipping Bill Port Code</label>
                                                <label class="input">
                                                    <input type="text" name="portcode" maxlength="6" value="@ViewBag.master.sbpcode" placeholder="Shipping Bill Port Code" readonly style="background-color:#d9d9d9;">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Shipping Bill No</label>
                                                <label class="input">
                                                    <input type="text" name="billno" maxlength="7" value="@ViewBag.master.sbnum" placeholder="Shipping Bill No" class="floatinput" readonly style="background-color:#d9d9d9;">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Shipping Bill Date</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" name="billdate" value="@ViewBag.master.sbdt" placeholder="Shipping Bill Date" data-dateformat='dd-mm-yy' readonly style="background-color:#d9d9d9;">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <div class="form-group">
                                                    <label>Export Type<span style="color:red">*</span></label>
                                                    <label class="input">
                                                        <input type="text" name="ex_typ" value="@ViewBag.master.exp_typ" placeholder="Shipping Bill No" class="floatinput" id="ex_typ" readonly style="background-color:#d9d9d9;">

                                                    </label>
                                                </div>
                                            </section>

                                            <section class="col col-3">
                                                <label>Name of Shipping Recipient<span style="color:red">*</span></label>
                                                <label class="input">
                                                    <input type="text" name="sname" id="sname" value="@ViewBag.master.ReceiverName" placeholder="Name of Shipping Recipient">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Shipping Address<span style="color:red">*</span></label>
                                                <label class="input">
                                                    <input type="text" name="saddress" id="saddress" value="@ViewBag.master.ShippingAddress" placeholder="Shipping Address">
                                                </label>
                                            </section>


                                            <section class="col col-3">
                                                <label>Additional Information</label>
                                                <label class="input">
                                                    <textarea name="addinfo" cols="32" rows="4" value="">@ViewBag.master.Addinfo</textarea>
                                                </label>
                                            </section>

                                        </div>
                                    </fieldset>
                                    <footer>
                                        <div class="row">
                                            <div class="col-md-6 text-center">
                                                <button type="submit" name="command" id="" value="save" class="btn btn-primary" style="background-color:#508180;border:2px solid #508180;border-radius:5px;">Update</button>
                                            </div>
                                        </div>
                                    </footer>
                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>


                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2 style="font-weight:bold;">Add invoice item</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form1" class="smart-form">

                                    <div class="smart-form">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>

                                                        <th>HSN<span style="color:red">*</span></th>

                                                        <th>Item Description<span style="color:red">*</span></th>
                                                        <th>Qty<span style="color:red">*</span></th>
                                                        <th>UQC<span style="color:red">*</span></th>
                                                        <th>Unit Price<span style="color:red">*</span></th>
                                                        <th>Disc(%)</th>
                                                        <th>Taxable Value<span style="color:red">*</span></th>
                                                        <th>Rate(%)<span style="color:red">*</span></th>
                                                        <th>IGST Amount</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td>
                                                            <label class="input" style="width:100px">

                                                                <input type="text" name="hsn" id="hsn" onblur="taxableCalculation();">
                                                            </label>
                                                        </td>

                                                        <td>
                                                            <label class="input" style="width:100px">
                                                                <input type="text" name="itemdesc" id="itemdesc" style="width:100px">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input" style="width:100px">
                                                                <input type="text" name="qty" id="qty" onblur="taxableCalculation();" onkeypress="return decimalInput(event)" class="floatinput">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input" style="width:100px">
                                                                @Html.DropDownList("uqc", new SelectList(ViewBag.UQCList, "uqc", "uqcdesc"), "Select", new { @Class = "form-control input-sm", @id = "uqc" })
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input" style="width:100px">
                                                                <input type="text" name="unitprice" id="unitprice" onblur="taxableCalculation();" onkeypress="return decimalInput(event)" class="floatinput">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @if (Session["discountreqexp"] == null || Session["discountreqexp"].ToString() == "No")
                                                                {
                                                                    <input type="text" name="discount" id="discount" onblur="taxableCalculation();" value="0" readonly style="background-color:#d9d9d9;width:100px;" class="floatinput">
                                                                }
                                                                else if (Session["discountreqexp"].ToString() == "Yes")
                                                                {
                                                                    <input type="text" name="discount" id="discount" style="width:100px" onblur="taxableCalculation();" value="0" class="floatinput">
                                                                }

                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input" style="width:100px">
                                                                <input type="text" name="taxablevalue" id="taxablevalue" readonly style="background-color:#d9d9d9;width:100px" class="floatinput">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="rate" id="rate" readonly style="background-color:#d9d9d9;width:100px" class="floatinput">

                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                <input type="text" name="iamt" value="0" id="iamt" style="width:100px;background-color:#d9d9d9;" readonly class="floatinput">
                                                            </label>
                                                        </td>



                                                    </tr>
                                                    <tr>
                                                        <td colspan="13" align="center">
                                                            <button type="Submit" id="btnSubmit" name="command" class="btn btn-sm btn-success" style="font-weight:bold;Border-radius:10px;width:60px;margin-bottom:3px;padding:3px" value="add">Add</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>


                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2 style="font-weight:bold;">Update Outward EXP Item Details</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="comment-form1" class="smart-form">


                                    <div class="smart-form">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="row">
                                                        @*<th>HSN Description</th>*@
                                                        <th>HSN</th>

                                                        <th>Item Description</th>
                                                        <th>Qty</th>
                                                        <th>UQC</th>
                                                        <th>Unit Price</th>
                                                        <th>Disc(%)</th>
                                                        <th>Taxable Value</th>
                                                        <th>Rate(%)</th>
                                                        <th>IGST Amount</th>
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var items in ViewBag.lineitms)
                                                    {


                                                        <tr class="row">
                                                            @*<td>
                                                                    <label class="input">
                                                                        @Html.DropDownList("HSN1", new SelectList(ViewBag.HSNDetail, "hsnid", "hsncode", @items.hsncode),"select", new { @Class = "form-control input-sm", @id = "hsncode_"+@rowVal, @onchange = "updateRate("+@rowVal+");", @onblur = "updatedetails("+@rowVal+")" })
                                                                    </label>
                                                                </td>*@

                                                            <td>
                                                                <label class="input">
                                                                    @*@Html.DropDownList("HSN1", new SelectList(ViewBag.HSNDetail, "hsnid", "hsncode", @items.hsncode),"select", new { @Class = "form-control input-sm", @id = "hsncode_"+@rowVal, @onchange = "updateRate("+@rowVal+");", @onblur = "updatedetails("+@rowVal+")" })*@
                                                                    <input type="text" name="HSN1" id="hsncode_@rowVal" value="@items.hsncode" onchange="updateRate(@rowVal)" onblur="updatedetails(@rowVal)" readonly style="background-color:#d9d9d9;">
                                                                    @*<input type="text" id="hsncode" value="@items.hsncode" />*@
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="itemdesc_@rowVal" value="@items.hsndesc" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="qty_@rowVal" value="@items.qty" onblur="updatedetails(@rowVal)" class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    @Html.DropDownList("uqc1", new SelectList(ViewBag.UQCList, "uqc", "uqcdesc", items.uqc), "Select", new { @Class = "form-control input-sm", @id = "uqc_" + @rowVal })
                                                                    @*<input type="text" id="uqc" value="@items.uqc" />*@
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="unitprice_@rowVal" value="@items.unitprice" onblur="updatedetails(@rowVal)" class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="discount_@rowVal" value="@items.discount" onblur="updatedetails(@rowVal)" class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="txval_@rowVal" value="@items.txval" style="background-color:#d9d9d9;" readonly class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="rate_@rowVal" value="@items.rt" style="background-color:#d9d9d9; ;" readonly class="floatinput" />
                                                                </label>

                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" id="iamt_@rowVal" value="@items.iamt" style="background-color:#d9d9d9; " readonly class="floatinput" />
                                                                </label>

                                                            </td>

                                                            <td>
                                                                <input type="button" id="editBtn_@rowVal" onclick="Edit(@items.invid,@rowVal)" value="Update" style="border:2px solid #a0aeb3;background-color:#a0aeb3;border-radius:5px;font-weight:bold;padding:5px;color:white" />
                                                            </td>
                                                            <td>
                                                                <input type="button" id="delBtn_@rowVal" onclick="Delete(@items.invid,@rowVal)" value="Delete" style="border:2px solid #a0aeb3;background-color:#a0aeb3;border-radius:5px;font-weight:bold;padding:5px;color:white" />
                                                            </td>
                                                        </tr>
                                                        rowVal = rowVal + 1;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <footer></footer>


                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>

                <br />

                <div class="row text-center">
                    <div class="col-md-12 text-center">
                        <button type="submit" name="command" value="generate" class="btn btn-primary" style="background-color:#508180;border:2px solid #508180;border-radius:5px;">Generate Invoice</button>
                    </div>
                </div>
            </form>

        </div>




    </section>
</div>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["Message"])));
    </script>
    TempData["Message"] = null;
}

@if (Session["MakerCheckerApproverSetting"].ToString() == "True")
{
    <script type="text/javascript">
        $("#hsn").on('blur', function () {
            var txt = $('#hsn').val().split("|");
            $('#hsn').val(txt[0]);
            $("#rate").val(txt[1]);
            var result = txt[2];
            $("#itemdesc").val(result.slice(0, 30));
        });

        $(document).ready(function () {
            $("#hsn").autocomplete({
                minlength: 3,
                scroll: true,
                source: function (request, response) {
                    $.ajax({
                        url: "/OutwardB2B/AutoPopulate",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.hsncode + "-" + item.rate,
                                    value: item.hsncode + "|" + item.rate + "|" + item.hsndesc
                                };
                            }));
                        },
                        messages: {
                            noResults: "", results: "",
                        }
                    });
                }
            });
        })
    </script>
}
else
{
    <script type="text/javascript">
        $("#hsn").on('blur', function () {
            var txt = $('#hsn').val().split("|");
            $('#hsn').val(txt[0]);
            $("#rate").val(txt[1]);
        });

        $(document).ready(function () {
            $("#hsn").autocomplete({
                minlength: 3,
                scroll: true,
                source: function (request, response) {
                    $.ajax({
                        url: "/OutwardB2B/AutoPopulate",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.hsncode + "-" + item.hsndesc,
                                    value: item.hsncode + "|" + item.rate
                                };
                            }));
                        },
                        messages: {
                            noResults: "", results: "",
                        }
                    });
                }
            });
        })
    </script>
}


<script type="text/javascript">
    $('.floatinput').on('keypress', function (e) {
        return validateFloatKeyPress(this, e);

    });
    function taxableCalculation() {

        var exporttype = document.getElementById("ex_typ").value;
        var qty = document.getElementById("qty").value;
        var unitprice = document.getElementById("unitprice").value;
        var discount = document.getElementById("discount").value;
        var rate = document.getElementById("rate").value;

        var igsta = document.getElementById("iamt");


        if ((qty != "") && (unitprice != "") && (discount != "")) {

            var discountValue;
            discountValue = (((qty * unitprice) / 100) * discount);
            document.getElementById("taxablevalue").value = ((unitprice * qty) - discountValue).toFixed(2);
        }
        var taxablevalue = document.getElementById("taxablevalue").value;

        if ((taxablevalue != "") && (rate != "")) {

            if (exporttype == "WPAY") {
                igsta.value = (taxablevalue * rate) / 100;

            }
            else if (exporttype == "WOPAY") {
                igsta.value = "0";

            }
        }
    }

    function Edit(id, index) {

        var row = $("#editBtn_" + index).parent().parent();
        // var index = $(this).closest("tr").index();
        var hsncode = row.find("#hsncode_" + index).val();
        var itemdesc = row.find("#itemdesc_" + index).val();
        var unitprice = row.find("#unitprice_" + index).val();
        var rate = row.find("#rate_" + index).val();
        var igsta = row.find("#iamt_" + index).val();
        var uqc = row.find("#uqc_" + index).val();
        var discount = row.find("#discount_" + index).val();
        var qty = row.find("#qty_" + index).val();
        var txval = row.find("#txval_" + index).val();

        if (hsncode == '') {
            alert("Select HSN Code");
            return false;
        }
        else if (itemdesc == '') {
            alert("Enter item description");
            return false;
        }
        else if (qty == '') {
            alert('Enter Qty');
            return false;
        }
        else if (isNaN(qty)) {
            alert('Characters are not allowed inside QTY');
            return false;
        }
        else if (uqc == '') {
            alert('Select UQC');
            return false;
        }
        else if (unitprice == '') {
            alert('Enter Unitprice');
            return false;
        }
        else if (isNaN(unitprice)) {
            alert('Characters are not allowed inside Unitprice');
            return false;
        }

        //var hsncode = $(this).closest('tr').find('td:nth-child(1)').text();
        var obj = {
            id: id,
            hsncode: hsncode,
            itemdesc: itemdesc,
            qty: qty,
            uqc: uqc,
            unitprice: unitprice,
            discount: discount,
            txval: txval,
            rate: rate,
            igsta: igsta
        }


        $.ajax({
            type: "POST",
            url: '/EXPUpdate/Edit',
            data: JSON.stringify(obj),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                location.reload();

            }

        });
    }

    function Delete(id, index) {

        $.ajax({
            type: "GET",
            url: '/EXPUpdate/Delete',
            data: { Id: id },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                location.reload();

            }

        });

    }

    function updatedetails(index) {
        var exp_type = document.getElementById("ex_typ").value;
        var row = $(this).parent().parent();
        var qty = document.getElementById("qty_" + index).value;
        var unitprice = document.getElementById("unitprice_" + index).value;
        var discount = document.getElementById("discount_" + index).value;
        var rate = document.getElementById("rate_" + index).value;

        var igsta = document.getElementById("iamt_" + index);

        var cgsta = document.getElementById("camt_" + index);
        var sgsta = document.getElementById("samt_" + index);
        var cessa = document.getElementById("csamt_" + index);

        if ((qty != "") && (unitprice != "") && (discount != "")) {

            var discountValue;
            discountValue = (((qty * unitprice) / 100) * discount);
            document.getElementById("txval_" + index).value = ((unitprice * qty) - discountValue).toFixed(2);
        }
        var taxablevalue = document.getElementById("txval_" + index).value;

        if ((taxablevalue != "") && (rate != "")) {

            if (exp_type == "WPAY") {
                igsta.value = (taxablevalue * rate) / 100;

            }
            else if (exp_type == "WOPAY") {
                igsta.value = "0";
            }
        }

    }

    function updateRate(index) {

        var row = $("#hsncode_" + index).parent().parent();

        var hsnid = $("#hsncode_" + index).val();
        $.ajax({
            type: "GET",
            url: '/OutwardB2B/AutoPopulate1',
            data: { id: hsnid },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                document.getElementById("rate_" + index).value = data.rate;


            }

        });

    }


    $("#btnsubmit").on('click', function () {
        var $checkoutForm = $('#OutwardEXPEdit').validate({
            // Rules for form validation
            rules: {
                uqc: {
                    required: true
                },
                cgstin: {
                    required: true
                },
                ex_typ: {
                    required: true
                },
                isauto: {
                    required: true
                },

                invoicedate: {
                    required: true
                },

                hsn: {
                    required: true

                },
                itemdesc: {
                    required: true

                },
                taxablevalue: {
                    required: true,
                    number: true

                },
                rate: {
                    required: true,
                    number: true

                },
                iamt: {
                    required: true,
                    number: true

                },

                unitprice:
                {
                    required: true,
                    number: true,
                    min: 0.01
                },
                discount:
                {
                    required: true,
                    number: true,
                    min: 0,
                    max: 99
                }
                ,
                qty:
                {
                    required: true,
                    number: true,
                    min: 0.01
                },
                //portcode: {
                //    required: true
                //},
                //billno: {
                //    required: true
                //},
                //billdate: {
                //    required: true
                //},
                invoiceno: {
                    required: true
                }

            },

            // Messages for form validation
            messages: {
                uqc: {
                    required: 'Please select UQC'
                },
                cgstin: {
                    required: 'Please select Taxpayer GSTIN'
                },
                ex_typ: {
                    required: 'Please select Export Type'
                },
                isauto: {
                    required: 'Please select Invoice Auto Generation'
                },
                invoicedate: {
                    required: 'Please select Invoice Date'

                },

                reversecharge: {
                    required: 'Please select Reverse Charge'

                },
                hsn: {
                    required: 'Please select HSN'

                },
                itemdesc: {
                    required: 'Please enter Item Description'

                },
                rate: {
                    required: 'Please select HSN Code from list',
                    number: 'Characters are not allowed'

                },
                taxablevalue: {
                    required: 'Please enter Taxable Value',
                    number: 'Characters are not allowed'

                },
                iamt: {
                    required: 'Please enter IGST Amount',
                    number: 'Characters are not allowed'

                },

                unitprice: {
                    required: 'Please enter Unit Price',
                    number: 'Characters are not allowed'

                },

                discount: {
                    required: 'Please enter Discount',
                    number: 'Characters are not allowed'

                },
                qty: {
                    required: 'Please enter Qty',
                    number: 'Characters are not allowed'

                },

                //portcode: {
                //    required: 'Please enter Shipping Bill Port Code'
                //},
                //billno: {
                //    required: 'Please enter Shipping Bill No'
                //},
                //billdate: {
                //    required: 'Please enter Shipping Bill Date'
                //},
                invoiceno: {
                    required: 'Please enter invoice Number'
                }

            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        })
    });

    $("#btnAdd").on('click', function () {
        var $checkoutForm = $('#OutwardEXPEdit').validate({
            // Rules for form validation
            rules: {
                uqc: {
                    required: true
                },
                cgstin: {
                    required: true
                },
                ex_typ: {
                    required: true
                },
                isauto: {
                    required: true
                },

                invoicedate: {
                    required: true
                },

                hsn: {
                    required: true

                },
                itemdesc: {
                    required: true

                },
                taxablevalue: {
                    required: true,
                    number: true

                },
                rate: {
                    required: true,
                    number: true

                },
                iamt: {
                    required: true,
                    number: true

                },

                unitprice:
                {
                    required: true,
                    number: true,
                    min: 0.01
                },
                discount:
                {
                    required: true,
                    number: true,
                    min: 0,
                    max: 99
                }
                ,
                qty:
                {
                    required: true,
                    number: true,
                    min: 0.01
                },
                //portcode: {
                //    required: true
                //},
                //billno: {
                //    required: true
                //},
                //billdate: {
                //    required: true
                //},
                invoiceno: {
                    required: true
                }

            },

            // Messages for form validation
            messages: {
                uqc: {
                    required: 'Please select UQC'
                },
                cgstin: {
                    required: 'Please select Taxpayer GSTIN'
                },
                ex_typ: {
                    required: 'Please select Export Type'
                },
                isauto: {
                    required: 'Please select Invoice Auto Generation'
                },
                invoicedate: {
                    required: 'Please select Invoice Date'

                },

                reversecharge: {
                    required: 'Please select Reverse Charge'

                },
                hsn: {
                    required: 'Please select HSN'

                },
                itemdesc: {
                    required: 'Please enter Item Description'

                },
                rate: {
                    required: 'Please select HSN Code from list',
                    number: 'Characters are not allowed'

                },
                taxablevalue: {
                    required: 'Please enter Taxable Value',
                    number: 'Characters are not allowed'

                },
                iamt: {
                    required: 'Please enter IGST Amount',
                    number: 'Characters are not allowed'

                },

                unitprice: {
                    required: 'Please enter Unit Price',
                    number: 'Characters are not allowed'

                },

                discount: {
                    required: 'Please enter Discount',
                    number: 'Characters are not allowed'

                },
                qty: {
                    required: 'Please enter Qty',
                    number: 'Characters are not allowed'

                },

                //portcode: {
                //    required: 'Please enter Shipping Bill Port Code'
                //},
                //billno: {
                //    required: 'Please enter Shipping Bill No'
                //},
                //billdate: {
                //    required: 'Please enter Shipping Bill Date'
                //},
                invoiceno: {
                    required: 'Please enter invoice Number'
                }

            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        })
    });
    })
</script>

