
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-desktop fa-fw "></i>
                Reports
                <span>
                    >&nbsp;
                    Log Files
                </span>
            </h1>
        </div>
    </div>

    @if (ViewBag.Error != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@ViewBag.Error",
                type: "error",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
        </script>
        ViewBag.Error = null;
    }


    @if (TempData["RecordError"] != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["RecordError"]",
                type: "error",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
        </script>
        TempData["RecordError"] = null;
    }

    @if (TempData["Error"] != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["Error"]",
                type: "error",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
        </script>
        TempData["Error"] = null;
    }

    @if (ViewBag.Token != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@ViewBag.Token",
                type: "success",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
        </script>
        ViewBag.Token = null;
    }

    <!-- widget grid -->
    <section id="widget-grid" class="">
        @using (Html.BeginForm("ProcessData", "DownloadReports", FormMethod.Post, new { @id = "LogFilesForm", @name = "LogFilesForm" }))
        {
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                    <h2>LOGS</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <div id="comment-form" class="smart-form">

                            <fieldset>

                                @*@Html.AntiForgeryToken()*@
                                <div class="row">

                                    <section class="col col-3">
                                        <label class="label">Report Name</label>
                                        <div class="col-xs-12 col-lg-12 selectContainer">
                                            @Html.DropDownList("ddlReport", ViewBag.ReportList as SelectList, "Select Reports", new { @class = "form-control" })
                                        </div>
                                    </section>

                                    <section class="col col-3">
                                        <label class="label">GSTIN</label>
                                        <div class="col-xs-12 col-lg-12 selectContainer">
                                            @Html.DropDownList("ddlGSTIN", ViewBag.GSTINList as SelectList, "ALL", new { @class = "form-control" })
                                        </div>
                                    </section>

                                    <section class="col col-3">
                                        <label class="label">From Period</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar" id="SetDate"></i>
                                            <input type="text" name="Fromperiod" placeholder="" class="datepicker" data-dateformat='mmyy' value="@ViewBag.Period">
                                        </label>
                                    </section>

                                    <section class="col col-3">
                                        <label class="label">To Period</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar" id="SetDate"></i>
                                            <input type="text" name="Toperiod" placeholder="" class="datepicker" data-dateformat='mmyy' value="@ViewBag.Period2">
                                        </label>
                                    </section>
                                </div>


                            </fieldset>

                            <br><br />
                            <hr style="height:0.5px;border:none;color:#ffffff;background-color:#D3D3D3;" />
                            <div class="row">
                                <div class="col-md-4" style="margin-top:20px">
                                    <button align="centre" type="submit" name="Import" value="Import" class="btn btn-primary  pull-left" style="border-radius:13px;font-weight:100;margin:10px;margin-left:30px;height:35px" onclick="myFunction();">
                                        Generate
                                    </button>
                                </div>
                                <div id="gif" style="visibility:hidden" class="col-md-3">
                                    <img src="~/Content/img/ajax-loader.gif" width="120" height="100" />
                                </div>


                            </div>




                            <div class="message">
                                <i class="fa fa-check fa-lg"></i>
                                <p>
                                    Your comment was successfully added!
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        }
    </section>


    @* new widget *@


    <section id="widget-grid2" class="">
        @using (Html.BeginForm("CheckAndDownload", "DownloadReports", FormMethod.Post, new { @id = "LogFilesForm", @name = "LogFilesForm" }))
        {
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-teal" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                    <h2>Check And Download</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <div id="comment-form" class="smart-form">

                            <fieldset>

                                @*@Html.AntiForgeryToken()*@
                                <div class="row">

                                    <section class="col col-4">
                                        <label class="label">Reference Id</label>
                                        <div class="col-xs-9 col-lg-9 ">
                                            <input type="text" name="ReferenceId" style="font-size:20px" class="form-control" />

                                        </div>
                                    </section>

                                    <section class="col col-4" style="margin-top:15px">
                                        <div class="col-xs-9 col-lg-9 ">
                                            <button align="centre" type="submit" name="Import" value="Import" class="btn btn-primary  pull-left" style="border-radius:13px;font-weight:100;margin:10px;margin-left:30px;height:35px" onclick="myFunction();">
                                                Download
                                            </button>


                                        </div>
                                    </section>

                                    <div class="col-md-4" style="margin-top:24px;text-align:center">
                                        @if (Session["DownloadReport"] != null)
                                        {
                                        
                                            <a href="@Session["DownloadReport"]" style="font-size:15px;padding-bottom:25px"><i class="fas fa-file-download fa-3x"></i>Download Report</a>

                                        }
                                    </div>
                                </div>



                            </fieldset>


                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        }
    </section>
</div>


@* new widget ends *@






<script>
    function myFunction() {
        $('#gif').css("visibility", "visible");
        $('#myOverlay').show();

    }
    
</script>
<style>
    #myOverlay {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #myOverlay {
        background: black;
        opacity: .7;
        z-index: 2;
        display: none;
    }

    #ss {
        position: absolute;
        top: 40%;
        left: 45%;
        z-index: 3;
        display: none;
    }

    button {
        margin: 50px;
        height: 60px;
        width: 100px;
    }
</style>
