@using System.Dynamic
@model List<System.Collections.IDictionary>
@{
    WebGrid grid = null;
    int rowVal = 0;
    var result = new List<dynamic>();
    if (@Model != null)
    {
        foreach (var emprow in Model)
        {
            var row = (IDictionary<string, object>)new ExpandoObject();
            Dictionary<string, object> eachEmpRow = (Dictionary<string, object>)emprow;

            foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
            {
                row.Add(keyValuePair);
            }
            result.Add(row);
        }
        grid = new WebGrid(result);
    }
}




<script type="text/javascript">


    $(document).ready(function () {
        oTableStaticFlow = $('#example').DataTable({
            "aoColumnDefs": [{
                'bSortable': true,
                'aTargets': [0]
            }],
        });

        //$($(".sorting_asc").get(0)).removeClass("sorting_asc");


        $("#chkSelectAll").click(function () {
            var cols = oTableStaticFlow.column(0).nodes(),
                state = this.checked;

            for (var i = 0; i < cols.length; i += 1) {
                cols[i].querySelector("input[type='checkbox']").checked = state;
            }
        });

        $('.chkSelectAll').click(function () {
            var status = this.checked;
            if (status == false) {
                $("#chkSelectAll").prop("checked", false);
            }
        });

        $("#example").on("click", ".chkSelectAll", function () {
            var status = this.checked;
            if (status == false) {
                $("#chkSelectAll").prop("checked", false);
            }
        });

    });

</script>
<style>
    table.dataTable thead .sorting:after {
        opacity: 0 !important;
        content: none !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0em !important;
    }

    table.gridtable th {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: #3276b1;
    }

    table.gridtable td {
        text-align: center;
    }

    #chkSelectAll {
        margin-left: 4px !important;
    }

    .dt-toolbar {
        border-bottom: none !important;
    }

    .headerstyle {
        background-color: #cbd2d5 !important;
        color: #000 !important;
        font-weight: bold;
    }

    #example_length {
        margin-right: 55px;
    }
</style>



@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["Success"]",
                type: "success",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
    </script>
    TempData["Success"] = null;
}

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "",
                text: "@TempData["Error"]",
                type: "error",
                width: "20px",
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: true,

            }
     );
        };
    </script>
    TempData["Error"] = null;
}


<div id="content">

    <div class="row">

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
            <h1 class="page-title txt-color-blueDark">

                <i class="fa-fw fa fa-home"></i>
                Outward Register
                <span>
                    >&nbsp;
                    AT
                </span>
            </h1>
        </div>

    </div>


    <section id="widget-grid" class="">

        <div class="row">
            @using (Html.BeginForm("AT", "OutwardRegister", FormMethod.Post, new { @class = "OutwardRegisterAT", id = "OutwardRegisterAT", @name = "OutwardRegisterAT" }))
            {
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2 style="font-weight:bold;">Outward AT</h2>
                        </header>

                        <div>

                            <div class="jarviswidget-editbox">

                            </div>

                            <div class="widget-body no-padding">
                                <div id="comment-form" class="smart-form">


                                    @*@Html.AntiForgeryToken()*@
                                    @Html.ValidationSummary(true)

                                    <fieldset>


                                        <section class="col col-3">
                                            <label class="input">
                                                <i class="icon-append" style="color:#a90329;font-weight:bold"><i style="color:red;">*</i></i>
                                                <input type="text" name="pos" placeholder="POS" maxlength="2" id="pos" class="pos" />
                                                <b class="tooltip tooltip-bottom-right">Enter POS</b>
                                            </label>
                                        </section>


                                        <section class="col col-3">
                                            <label class="input">
                                                <i class="icon-append" style="color:#a90329;font-weight:bold"><i style="color:red;">*</i></i>
                                                @Html.DropDownList("TaxpayerGSTIN", ViewBag.TaxPayerGSTIN as SelectList, "Select TaxPayer GSTIN", new { @class = "form-control TaxpayerGSTIN",@id= "TaxpayerGSTIN" })
                                                <b class="tooltip tooltip-bottom-right">Select TaxPayer GSTIN</b>
                                            </label>
                                        </section>
                                    </fieldset>

                                    <footer>
                                        <button type="submit" name="Register" id="Register" value="Register" class="btn btn-primary" style="border-radius:13px;">
                                            Register
                                        </button>
                                    </footer>


                                    <div class="message">
                                        <i class="fa fa-check fa-lg"></i>
                                        <p>
                                            Your comment was successfully added!
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2 style="font-weight:bold;">Item Details</h2>
                        </header>

                        <div>

                            
                            <div class="jarviswidget-editbox">
                                

                            </div>
                           
                            <div class="widget-body no-padding">

                                <div id="comment-form1" class="smart-form">


                                    @{Html.RenderPartial("_ATItems"); }





                                </div>

                            </div>
                           

                        </div>
                       

                    </div>

                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    @if (Session["MasterDtAT"] != null)
                    {
                        if (((System.Data.DataTable)Session["MasterDtAT"]).Rows.Count >= 1)
                        {
                            <div class="jarviswidget jarviswidget-color-pink" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                                <header>
                                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                    <h2 style="font-weight:bold;">Outward AT Item List</h2>
                                </header>

                             
                                <div>

                                   
                                    <div class="jarviswidget-editbox">
                                       

                                    </div>
                                    
                                    <div class="widget-body no-padding">

                                        <div id="comment-form1" class="smart-form">

                                            <br />
                                            <div class="table-responsive">
                                             
                                            </div>



                                            <footer>
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <button type="submit" name="command" value="save" style="font-weight:bold;Border-radius:10px;width:200px;padding:3px;text-align:center;" class="btn btn-primary">Generate Invoice</button>
                                                    </div>


                                                </div>
                                            </footer>


                                        </div>

                                    </div>
                                   

                                </div>
                                

                            </div>
                        }
                    }
                </article>
    }
        </div>



    </section>

</div>


@section pagespecific{
    <script type="text/javascript">

        $('#name').bind('keypress', textInput);
        $('#poc').bind('keypress', textInput);
        $('#mobile').bind('keypress', numericInput);
        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {


            var $checkoutForm = $('#OutwardRegisterAT').validate({
                // Rules for form validation
                rules: {
                    name: {
                        required: true
                    },
                    designation: {
                        required: true
                    },
                    company: {
                        required: true
                    },
                    gstusername: {
                        required: true
                    },
                    gst: {
                        required: true,
                        minlength: 15,
                        maxlength: 15
                    },
                    cgst: {
                        required: true,
                        minlength: 15,
                        maxlength: 15,
                        equalTo: '#gst'
                    },
                    pan: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                    },
                    statecode: {
                        required: true,
                        minlength: 2,
                        maxlength: 2
                    },
                    email: {
                        required: true
                    },
                    mobile: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                    },

                    gender: {
                        required: true
                    },
                    terms: {
                        required: true
                    },
                    PackageId: {
                        required: true
                    },
                    //files1: {
                    //    required: true
                    //},

                    //Address: {
                    //    required: true
                    //}
                },

                // Messages for form validation
                messages: {
                    name: {
                        required: 'Please enter Your Name'
                    },
                    designation: {
                        required: 'Please Enter Your Designation'
                    },
                    company: {
                        required: 'Please Enter Your Company Name'
                    },
                    gstusername: {
                        required: 'Please Enter GSTIN UserName'
                    },
                    gst: {
                        required: 'Please enter GSTIN Number',
                    },
                    cgst: {
                        required: 'Please enter your GSTIN Number one more time',
                        equalTo: 'Please enter the same GSTIN Number as above'
                    },
                    pan: {
                        required: 'Please enter your GSTIN Number'
                    },
                    statecode: {
                        required: 'Please enter first 2 letters as a numeric in GSTIN'
                    },
                    email: {
                        required: 'Please enter Email Address',
                        email: 'Please Enter Correct Email Address'
                    },
                    mobile: {
                        required: 'Please enter your Mobile Number'
                    },

                    terms: {
                        required: 'You must agree with Terms and Conditions'
                    },
                    PackageId: {
                        required: 'Please select Package'
                    },
                    //files1: {
                    //    required: 'Please Upload GSTIN Document'
                    //},
                    //Address: {
                    //    required: 'Please enter Address'
                    //}

                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })

    </script>

}

<script>
    $(document).ready(function () {
        $('input[type=file]').change(function () {
            var val = $(this).val().toLowerCase();
            var regex = new RegExp("(.*?)\.(csv)$");
            if (!(regex.test(val))) {
                $(this).val('');
                alert('Please select csv file format');
            }
        });
    });
</script>
@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["msg"]");
        };
    </script>
}
<script type="text/javascript">
    function OpenDocuments(PANId) {
        var ph = $("#DivForPanDocsPartialView");
        ph.load("PanDocuments" + PANId, function () {
            ph.dialog({
                modal: true,
                width: 1000,
                height: 300,
                title: "Customer Documents",
                resizable: true
            });
        });
    }
</script>
<div id="DivForPanDocsPartialView">
</div>


