@model IEnumerable<SmartAdminMvc.Models.UserList>

@{
    ViewBag.Title = "WeP ASP PANEL";
    var grid = new WebGrid(source: Model, rowsPerPage: 8);
    int rowVal = 0;
}


<style type="text/css">
    .btnstyle {
        font-weight: bold;
        color: white;
        border: rgb(86, 138, 137);
        border-radius: 8px;
        padding: 8px;
        background-color: #496949;
    }

    table.gridtable th {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: #3276b1;
    }

    table.gridtable td {
        text-align: center;
    }
</style>

<div id="content">

    <div class="row">

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">

                <i class="fa-fw fa fa-home"></i>
                User Management
                <span>
                    >&nbsp;
                    Block  & UnBlock
                </span>
            </h1>
        </div>


    </div>

    <section id="widget-grid" class="">

        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-radius:20px;">
                <div class="jarviswidget jarviswidget-color-teal" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2 style="font-weight:bold;"> Block And UnBlock User</h2>
                    </header>

                    <div>

                        <div class="jarviswidget-editbox">

                        </div>

                        <div class="widget-body no-padding">

                            <div id="comment-form1" class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-12">

                                            @using (Html.BeginForm("Updation", "User", FormMethod.Get))
                                            {

                                                <div class="row text-center" style="text-indent:300px;">
                                                    <div class="col col-12 text-center" style="text-indent:210px;">

                                                        <b style="color:#3276b1;font-weight:bold;font-size:15px;font-family:verdana,arial,sans-serif;"> Search By :</b>


                                                        @Html.DropDownList("option", (ViewBag.Category as SelectList), "Select Search Option", new { @style = "padding:5.5px;margin-bottom:8px;margin-right:-5px;" })


                                                        @Html.TextBox("search", null, new { style = "padding:4px;margin-bottom:8px;", autocomplete = "off", onchange = "submit();" })

                                                        <button type="submit" class="btn btn-primary" style="padding:5px;margin-bottom:8px;margin-top:6px;margin-left:-4px;">
                                                            <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
                                                        </button>
                                                       
                                                        @*<a href="@Url.Action("Updation", "User")" class="btn btn-primary glyphicon glyphicon-refresh" style="width:30px;padding:5px;">
                                                            <span class="glyphicon glyphicon-refresh" aria-hidden="true" style="width:30px;"> </span>
                                                        </a>*@
                                                    </div>
                                                </div>

                                            }

                                        </section>

                                        <section class="col col-12">
                                            <div class="table table-responsive text-center">
                                                @using (Html.BeginForm("Updation", "User", FormMethod.Post))
                                                {
                                                    @*@Html.AntiForgeryToken()*@

                                                    <div class="table-responsive">
                                                        @if (Model.Count() > 0)
                                                        {
                                                            @grid.GetHtml(
                tableStyle: "table table-striped table-bordered table-hover gridtable",
                 htmlAttributes: new { id = "checkableGrid" },
                 columns:
                    grid.Columns(
                          grid.Column(header: "S.No", format: item => rowVal = rowVal + 1),
                           grid.Column(header: "Action",
                           format: item => (item.Status == true)
                               ? new HtmlString(Html.ActionLink(" Block ", "Block", new { Id = item.UserId }, new { @Class = "btn btn-danger", onclick = "return confirm('Are you sure to Block?');", @Style = "width:100px;background-color:;font-weight:bold;Border-radius:15px;padding:4px;" }).ToString())
                               : new HtmlString(Html.ActionLink("UnBlock", "UnBlock", new { Id = item.UserId }, new { @Class = "btn btn-success", onclick = "return confirm('Are you sure to UnBlock?');", @Style = "width:100px;background-color:;font-weight:bold;Border-radius:15px;padding:4px;" }).ToString())

                           ),
                        grid.Column("Name", "User Name ↑↓"),
                        grid.Column("Designation", "Designation ↑↓"),
                        grid.Column("Email", "Email ID ↑↓"),
                        grid.Column("MobileNo", "Mobile Number ↑↓"),
                        grid.Column(
                                     header: "Status",
                                     format: (item) =>
                                     item.Status == true
                                     ? Html.Raw("Active/UnBlocked")
                                     : Html.Raw("Inactive/Blocked")
                                    )
                                )
                )
                                                        }

                                                        else
                                                        {
                                                            <p style="text-align:center;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:bold;padding:3px;color:#3276b1" class="text-center">No Record Found</p>
                                                        }

                                                        <br />

                                                    </div>


                                                    <footer></footer>
                                                }
                                            </div>
                                        </section>


                                    </div>


                                </fieldset>


                            </div>

                        </div>

                    </div>


                </div>
            </article>
        </div>

    </section>


</div>






@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["msg"])));
    </script>
}















